[2019-05-17 08:06] irina060981 commented on #482
![Screenshot_20190517-180503](https://user-images.githubusercontent.com/12377640/57912740-74390200-78ce-11e9-9cd4-6e4ae70cc8df.png)

[2019-05-17 08:06] irina060981 commented on #482
@kirlat,  What should I check here else?

[2019-05-17 08:09] irina060981 commented on #539
@monzug , did you have time to check the page on your iphone xr?

[2019-05-17 08:52] irina060981 commented on #481
Merged and closed

[2019-05-17 08:52] #481 closed

[2019-05-17 08:53] irina060981 commented on #538
Merged and closed

[2019-05-17 08:53] #538 closed

[2019-05-17 09:12] kirlat commented on #482
This is because we now have `<meta name="viewport" content="width=device-width, initial-scale=1">` at the beginning of the page. It tells browser to set page width equal to the viewport's and assign 1 to the scale (i.e. enforce no zooming). So if it's Samsung Samsung A5(2016) in portrait, the page width will be set to be 360px (equal to the screen width of 360 CSS pixels). If turned to landscape,

[2019-05-17 11:52] balmas commented on #482
For now, this really isn't a problem.  For as long as the browsers don't support webextensions in their mobile versions, we won't have the ability to provide the alpheios mobile functionality on ANY page, only on pages that use the embedded library and host the content themselves. So we can make that change when we use the embedded library on the pages that belong to us (i.e. in alpheios_nemo_ui)

[2019-05-17 12:00] monzug commented on #539
here I am

On Fri, May 17, 2019 at 4:09 AM Sklyarova Irina <notifications@github.com>
wrote:

[2019-05-17 12:01] monzug commented on #539
Irina, I did not see your previous message. sorry about it but I did not get any notification from GitHub...

[2019-05-17 12:04] irina060981 commented on #539
@monzug , don't worry :)
I would be glad to get test results on your iphone - when you will have time for that :)

[2019-05-17 12:04] balmas commented on #482
Here's the results on the Samsung Galaxy 7

Callbacks supported or.chg.rsz and rsz
All buttons functioned

One weird set of behavior:
- If I physically change the orientation to landscape by rotating the phone, , after changing back to portrait the popup did not reposition itself to the bottom of the screen and stayed on the left side. I had to reload the page to get it to go back to the bottom.

[2019-05-17 12:12] monzug commented on #539
I can see that you add Select a filter (not selectable). smart move. t works well. could you also do that for examples?

[2019-05-17 12:24] irina060981 commented on #539
oh, great!
yes, I will add it to filters and sort both on wordlist and wordUsageExamples
Thank you!

[2019-05-17 12:24] monzug commented on #555
on safari (desktop) see video

[IMG_3475.zip](https://github.com/alpheios-project/components/files/3191435/IMG_3475.zip)

[2019-05-17 12:28] monzug commented on #555
it's the problem that you can't reproduce. might be related to my test environment. will reboot and clean again the environment. yes, I have the same issue when moving the overlay outside the screen, I get a blue screen instead of pink!

[2019-05-17 12:34] monzug commented on #555
reboot again, still same problem.

[2019-05-17 12:53] monzug commented on #539
Thank you!!!! sorry again for the missed notification. maybe I should check
my GitHub account settings.

On Fri, May 17, 2019 at 8:24 AM Sklyarova Irina <notifications@github.com>
wrote:

[2019-05-17 12:57] irina060981 commented on #539
Don't worry, sometimes it happens, there are much notifications from github.

[2019-05-17 13:14] irina060981 commented on #539
Ok
It would be this way
![image](https://user-images.githubusercontent.com/12377640/57930527-8714fc00-78f9-11e9-8bd9-beb43159aa8d.png)

[2019-05-17 13:42] monzug commented on #526
verified. Thanks for fixing it.

[2019-05-17 17:27] balmas opened #558 "usage examples - hide filters also hides get results"
if you have hidden the filters on the usage examples, then the get results button is hidden too. that should always been shown

[2019-05-17 17:33] balmas commented on #482
@kirlat note that on the Samsung Galaxy Note 8, when you switch to landscape it thinks we are on the desktop
![Screenshot_20190517-133044_Chrome](https://user-images.githubusercontent.com/644870/57945622-58bb0080-78a8-11e9-8dc6-73a6e9949ccc.jpg)

[2019-05-17 17:42] balmas opened #560 "autho signin hides input boxes on landscape mode"
seen on both galaxy 7 and galaxy note 8

[2019-05-17 17:43] balmas opened #561 "autho sign up page - different prompt for email"
@abrasax requests that, if possible, we change the prompt for entering email to be 'youremail@example.com' rather than 'yours@example.com'

[2019-05-17 17:45] kirlat commented on #482
Thanks for the note, I've updated detection algorithm to fix this

[2019-05-17 17:55] balmas opened #562 "word list filter feedback"
requested by @abrasax

1) change "word form" to "exact word"

2) remove "word form (part)" and "lemma (part)" and add autocomplete to exact word and lemma filters (based upon contents of list)

2b) autocomplete should be reduced to only the valid values for a filtered list

3) eliminate filtering options if only one item in the list

[2019-05-17 18:10] balmas opened #563 "once you have moved the popup once, it can't be moved again"
Might be a bug with the changes for #468 or else an interact.js bug

Once I have moved the popup once (or a few times) I can no longer move it again until I reload the page.

[2019-05-17 18:23] balmas opened #564 "eliminate menu in compact panel"
after discussion with @abrasax and with the new fixed position for the tools icon on mobile, we think we'd like to change the compact panel only as follows:

1) eliminate the drop down menu
2) when the user is on a word-specific panel tab (i.e. morphology, definitions, inflections or examples), then only those 4 icons will be shown in the panel navbar (to the left of expand and close)
3) Users wil

[2019-05-17 18:24] balmas commented on #562
we might break these in to multiple issues. Autocomplete can come after the beta. The rest needs to be for the beta.

[2019-05-17 19:12] #544 closed

[2019-05-17 19:45] balmas commented on #544
can test in texts-beta environment with 1.0.0.14 . Webextension build not done yet.

[2019-05-17 19:50] balmas commented on #482
@monzug the fixes for orientation detection are in 1.0.0.14 up now in the texts-beta environment

@kirlat and I discussed today whether we should try to do more, such as adding UI buttons for manual zoom or manual orientation shift. We decided to leave it as is for the moment pending additional user feedback.  Hoping that these changes fix at least some of the projects you have on the iPhone XR an

[2019-05-17 19:50] #482 closed

[2019-05-17 19:51] balmas commented on #335
I have actually entered a new bug for this, because I am seeing it on Chrome too.

[2019-05-17 19:51] #335 closed

[2019-05-17 19:52] balmas commented on #563
@monzug noted in #335

Note however that I was seeing this behaviorin the text environment in Chrome

[2019-05-17 19:54] balmas commented on #348
adding notes from Slack discussion on this:

kirlat

I just see a UX experience with it
It will get highlighted when selection is complete. So this is also the moment we'll open the panel
So the user will see the word selected and then it will start the query right after that.

balmas

kirlat

But I also was missing this highlighting feedback
Just not sure how it should be made UI-wise
Maybe user

[2019-05-17 20:09] balmas commented on #544
webextension 3.0.0.36 is now available too https://github.com/alpheios-project/webextension/tree/qa-3.0.0.36/dist

[2019-05-17 23:19] irina060981 commented on #539
merged and closed

[2019-05-18 00:30] irina060981 commented on #558
Then I suggest to do it this way:
1. word was selected  - but now usage examples were retrieved
![image](https://user-images.githubusercontent.com/12377640/57962183-a2aeef80-7957-11e9-9a14-dce7b123a628.png)
![image](https://user-images.githubusercontent.com/12377640/57962192-ae9ab180-7957-11e9-8e37-04a564c13781.png)

2. Get results without filters
![image](https://user-images.githubusercontent.com

[2019-05-18 09:03] irina060981 commented on #562
1. Changed the list of filters
![image](https://user-images.githubusercontent.com/12377640/57967169-bb8ec380-799e-11e9-9b47-a817b37dafd1.png)

2. Added autocomplete to the `by exact form` and `by lemma` this way:
![image](https://user-images.githubusercontent.com/12377640/57967181-e416bd80-799e-11e9-9259-a6d04af3e7d3.png)

**Steps:**
   - a user types a part of the exact form/lemma - autocomplete

[2019-05-20 04:59] irina060981 commented on #558
merged and closed

[2019-05-20 05:16] irina060981 commented on #562
Merged and closed

[2019-05-20 12:32] monzug commented on #544
tested on iPhone Samsung, safari, chrome and firefox. done!

[2019-05-20 14:10] monzug commented on #482
tested in 1.0.0.14
Samsung 5 mini and iphone xr: confirm what @balmas has reported above when changing view from normal to landscape and then back, the popup is on the left side of screen and the arrows are left/right to move on screen and not top/bottom. need to reload to go back to popup on the bottom

![IMG_3479](https://user-images.githubusercontent.com/41396793/58026398-6361d980-7ae4-11e9-908

[2019-05-20 15:18] monzug commented on #419
form+lemma combination is out.  by clicking on the lemma, it does filter by lemma (full) but only by selecting the first word. clicking on second or third does not produce any result.
e.g. acconsenti is in the wordlist, lemma are consentio, Consens, consentium
if I click on consentium, there is no results on fileter by lemma.
however, if I click on consentio (the first one), the filter by lemma (f

[2019-05-20 15:21] monzug commented on #419
forgot to comment about the use of wild card. I am ok with this version, it's very intuitive.

[2019-05-20 15:26] monzug commented on #453
verified

[2019-05-20 15:35] monzug commented on #407
yes, I could see an improvement. Now for words like adquiescat and ludere and incitare (from https://texts-beta.alpheios.net/text/urn:cts:latinLit:phi0472.phi001.perseus-lat2/passage/1.1-1.10) CPU goes up to 30% but no more. before this fix, CPU usage could go up to 50%

[2019-05-20 15:37] monzug commented on #524
see issue #407

[2019-05-20 15:48] monzug commented on #377
it works! see screenshot
![arma-virumque-cano](https://user-images.githubusercontent.com/41396793/58034678-1fc39b80-7af5-11e9-918b-c5b96bea8f22.JPG)

[2019-05-20 17:02] kirlat commented on #472
I can reproduce issues with both dragging out of the viewport and with not being able to drag once the toolbar is moved on http://dcc.dickinson.edu/allen-greenough/Chapters/Chapter-100.html. I did a lot of tests with different settings and test configurations but, unfortunately, I was not able to find a way to fix it as of today. My conclusion at the moment is that it's something inside `interact.

[2019-05-21 00:41] irina060981 commented on #419
It is because of a small error - will fix

part search was rejected here - https://github.com/alpheios-project/components/issues/562

[2019-05-21 00:44] irina060981 commented on #419
Merged and closed

[2019-05-21 00:44] #419 closed

[2019-05-21 10:58] monzug commented on #472
it's firefox only.  Other sites where overlay can be dragged out of the visible area are https://www.tradurreantico.it/latino/grammatica-latina/morfologia/verbo/verbo-eo-latino/  and
https://scaife.perseus.org/reader/urn:cts:latinLit:phi0620.phi001.perseus-lat3:1.2/
I think we should add this in the know issues. by relaoding the page, the overlay comes back except in https://www.tradurreantico.it/

[2019-05-21 12:31] monzug commented on #227
still able to reproduce the problem in 3.0.0.36 in crome

[2019-05-21 13:02] monzug commented on #304
The following has not been implemented:
As a user I want to be able to remove an important flag from all instances of a specific form and lemma combination on my word-in-context list.
Not sure if we will implement in future releases. @balmas?

[2019-05-21 13:29] monzug commented on #362
tested again on the test.html file in firefox build 3.0.0.36 - works fine
could not test in safari build 3.0.0.33 as the overlay did not appear in the tab with the test.html file. Note that the overlay is normally generated on activation of alpheios in the latin library site. I'll create a safari issue

[2019-05-21 13:34] monzug opened #569 "Safari: overlay not generated for local file"
related to issue #362
I could not test the issue in safari build 3.0.0.33 as the overlay did not appear in the tab with the test.html file. Note that the overlay is normally generated on activation of alpheios in the latin library site.

[2019-05-21 14:33] kirlat commented on #563
I was not able to reproduce it exactly as described, when it was stopping to work after a series of drag and drop actions. I was, however, able to find a situation when an attempt to resize it was causing drag and drop functionality to cease working. The fix is in #570.

[2019-05-21 14:54] monzug commented on #563
Confirmed that I am still able to repro in build 3.0.0.36 in Firefox.
after a first drag and drop I can't move it again, need to reload the page: https://www.thelatinlibrary.com/sall.macer.html -

[2019-05-21 15:12] kirlat commented on #563
I can reproduce it, and the fix submitted in #570 won't work for this. This issue seems to be related to `interact.js` and is most likely the same as reported in #472: https://github.com/alpheios-project/components/issues/472#issuecomment-494070632. The clear indication of that is that the second time we hover over the popup's toolbar a move cursor do not appear. The cursor is generated by the `in

[2019-05-21 15:26] monzug commented on #444
login using the google account it does give the option to choose other accounts. tested in Chrome and firefox and Safari in text env.

[2019-05-21 16:05] kirlat commented on #397
@monzug, since I don't have an iPhone XR and cannot reproduce can you please test its rotation from portrait to landscape and back on http://embed.yula.media/demo/ ? We need to check that its recognizing a landscape orientation correctly. Also, does it report `or.chg` event callbacks during orientation change (must report one event CB per on orientation change). Thanks!

[2019-05-21 16:13] monzug commented on #397
yes, it does report the or.chg rsz event one for each change. is that all?

On Tue, May 21, 2019 at 12:05 PM kirlat <notifications@github.com> wrote:

[2019-05-21 16:17] kirlat commented on #397
Thanks, yes, that's it. I assume it does display orientation properly as "landscape" when turned into landscape?

[2019-05-21 16:32] monzug commented on #397
nope, that's not supported

On Tue, May 21, 2019 at 12:17 PM kirlat <notifications@github.com> wrote:

[2019-05-21 16:38] kirlat commented on #397
Sorry for bothering, but can you please upload a screenshot of a test page when the iPhone XR was in portrait orientation first and then turned to a landscape? That would be very helpful!

[2019-05-21 17:02] monzug opened #571 "Samsung 5 mini (Chrome): can't login in texts env"
I keep clicking on login button from the lookup popup, from the tool menu, from the morphology popup, but nothing happens. the page keeps loading but then it goes back to the same page.
anyone else?

[2019-05-21 17:08] monzug commented on #397
no problem at all
![IMG_3481 (1)](https://user-images.githubusercontent.com/41396793/58116099-7bf7ef80-7bc9-11e9-86da-0c62bfb114ee.PNG)
![IMG_3480 (1)](https://user-images.githubusercontent.com/41396793/58116101-7c908600-7bc9-11e9-9ae0-03ed4310b19c.PNG)

[2019-05-21 17:13] kirlat commented on #397
Thank you!

[2019-05-21 17:15] monzug commented on #397
Hope it can be of any help!!!!

On Tue, May 21, 2019 at 1:13 PM kirlat <notifications@github.com> wrote:

[2019-05-22 11:00] monzug commented on #304
Irina, this is an excerpt from #419:

"As a user I want to be able to view a subset of my word-in-context list that contains just the instances of a specific form+lemma combination.
I am not sure this one actually makes sense because we group forms by lemma. So let's drop this one."

as we dropped the lemma+form combination, we did also not implement these requirements:
As a user I want to be able

[2019-05-22 11:38] irina060981 commented on #304
@monzug , I remembered.
as we have drop the implementation of the filtering by exact form + lemma, I have excluded setting/removing  important flag from such combinations.
So I think you described right.

And I believe that I shouldn't do anything else here.
Am I right?

[2019-05-22 11:57] monzug commented on #304
I believe so. not sure if there is a plan to add the lemma+form combination
in the future. if not, this is all done.@balmas?

On Wed, May 22, 2019 at 7:38 AM Sklyarova Irina <notifications@github.com>
wrote:

[2019-05-22 12:23] balmas commented on #304
I don't think there is a plan for that right now. We will wait for user feedback on this before doing more on that point. Thanks both.

[2019-05-22 12:24] balmas commented on #571
is it just on the Samsung 5 mini?

[2019-05-22 12:25] monzug commented on #571
yes. I don't have other Samsung. iPhone xr is ok

[2019-05-22 12:42] balmas commented on #571
hmm. that's weird. has it ever worked before on that device?

[2019-05-22 12:48] monzug commented on #571
yes. always. I have noticed yesterday as I wanted to test the login with google issue (#444)

[2019-05-22 12:51] balmas commented on #571
I wonder if it's a problem with the change too https.  Are you accessing it first at http://texts-beta.alpheios.net or https://texts-beta.alpheios.net?

[2019-05-22 12:57] monzug commented on #571
YES!!!! that's it. Thanks.

On Wed, May 22, 2019 at 8:51 AM Bridget Almas <notifications@github.com>
wrote:

[2019-05-22 12:58] balmas commented on #563
@kirlat we *do* need the popup resizing functionality, as well as drag and drop.

[2019-05-22 12:59] balmas commented on #571
so it's the redirect from http to https during login that is not working properly?

[2019-05-22 13:01] monzug commented on #571
I just typed the url with https and the login is working. I thought it
would automatically switch to https when trying to login.

On Wed, May 22, 2019 at 8:59 AM Bridget Almas <notifications@github.com>
wrote:

[2019-05-22 13:01] balmas commented on #569
I believe this is the same as alpheios-project/webextension#185

[2019-05-22 13:04] monzug commented on #569
a variation of it, yes.

[2019-05-22 13:10] kirlat commented on #563
Thanks for the info, will work on the fix then

[2019-05-22 13:14] balmas commented on #571
it should, but apparently it isn't working 100% as expected. I saw something similar on Harry's Samsung Note 8.  Eventually we will redirect all http traffic to https from the start. So, this one might not be high priority. Still good to understand what is happening.  So let's keep this open.

[2019-05-22 13:19] monzug commented on #571
actually I tried on my iPhone to login from http and it does this thing.
The first time it did show the login popup and let me in with google. but
now it does exactly what I saw in the samsun

On Wed, May 22, 2019 at 9:01 AM Monica Zugan <monzug@gmail.com> wrote:

[2019-05-22 13:20] balmas commented on #571
thanks. I will try to fix it.

[2019-05-22 13:21] monzug commented on #571
OK. could login with google have something to do with it?

On Wed, May 22, 2019 at 9:14 AM Bridget Almas <notifications@github.com>
wrote:

[2019-05-22 13:21] balmas commented on #571
I don't think so. I saw it with a non-google login on Harry's phone

[2019-05-22 13:21] monzug commented on #571
ok. I'll assign back to you

[2019-05-22 15:05] monzug opened #573 "scrolling oddities in word usage examples on mobile"
Some oddities in word usage examples on mobile (Samsung 5 mini and iphone xr):
1) lookup for fero and go to the word usage examples and click on Get results.
Have show source links on. click on any link, it's very difficult to have the source underline and selectable as link, specially when moving from landscape to portrait view. Frequently, it does open a morphological popup related to the word o

[2019-05-23 11:11] balmas commented on #573
I'm going to split this into two issues, one for the scrolling, and one for the lookups.

[2019-05-23 11:12] balmas opened #575 "lookup interference with source links in usage examples on mobile"
Have show source links on. click on any link, it's very difficult to have the source underline and selectable as link, specially when moving from landscape to portrait view. Frequently, it does open a morphological popup related to the word on which the finger was on.

_Originally posted by @monzug in https://github.com/alpheios-project/components/issues/573

[2019-05-23 11:13] balmas commented on #575
I experienced this too. I think maybe we need to make the links explicitly wrapped in an data-alpheios-ignore div.

[2019-05-23 11:15] balmas commented on #573
item 1 is now in #575. This issue is for the scrolling difficulties.

[2019-05-23 11:17] irina060981 commented on #575
Oh, I know, what you are talking about - I have seen this once, but then forgot to fix it
Will fix

[2019-05-23 11:36] balmas commented on #564
reassigned to @irina060981 . @irina060981 let me know if it isn't clear what is being asked for. Thanks!

[2019-05-23 11:43] monzug commented on #573
I have still some testing to do for 3)

[2019-05-23 12:25] irina060981 commented on #564
@balmas , I have several questions here:

Do you mean to remove this?
![image](https://user-images.githubusercontent.com/12377640/58252311-2712cf80-7da9-11e9-8963-7de1e10f62ee.png)

where it is panel navbar in th mobile?
for example I am here
![image](https://user-images.githubusercontent.com/12377640/58252376-575a6e00-7da9-11e9-8bb8-59e1926b2d99.png)

where should be 4 icons? Do you mean that the

[2019-05-23 12:54] irina060981 commented on #575
merged and closed

[2019-05-23 13:16] balmas commented on #564
YES

SEE ARROW:

![58252376 575a6e00 7da9 11e9 8bb8 59e1926b2d99 (1)](https://user-images.githubusercontent.com/644870/58255541-33f8da00-7d3b-11e9-858c-cc8accfabd34.png)

CORRECT

hmm. I think yes, you would have to reselect the word.

[2019-05-23 13:17] balmas commented on #564
that might be a problem with this design, but let's implement it and request feedback on it.

[2019-05-23 13:52] monzug commented on #558
there was a discussion about this show/hide filters in #356 between Irina and me

[2019-05-23 13:56] monzug commented on #573
as per 3), scrolling in portrait view on iPhone xr.  if I don't expand the Get results view, I have the scrolling problem. The pop-up does not scroll below Select sorting type entry field. If I expand to full screen (via the arrow) then I can scroll through the results.
Definitely when I stress the functionality with lots of get results, there is some instability like the scenario described above

[2019-05-24 13:05] balmas opened #579 "make X Close icon thinner"
request from Mark that we make this icon less prominent

[2019-05-24 13:05] irina060981 commented on #564
I have made a little additional change - make icons active (with yellow color)

If opened one of the main tab - morphology, definitions, inflections or wordUsage, then all these 4 icons (available) is shown in the panel header. Active tab has active color:
![image](https://user-images.githubusercontent.com/12377640/58328870-8a1e6800-7e76-11e9-914c-bbfb44551a5c.png)

If opened one of the tab from t

[2019-05-24 13:09] balmas commented on #564
I think status doesn't need to be there (that's for debugging only) but you are right, I forgot about treebank.  That actually DOES need to be there but only when we have a treebank for the word. It looks like we have room to squeeze one more in (although this brings me back to disliking this design approach...)

[2019-05-24 13:13] irina060981 commented on #564
ok - will add it- I think the panel's header has one more place for one more icon (when they are all of them) - but it would a little cramped here :)

[2019-05-24 13:18] monzug commented on #573
here are two screenshots from examples for 'dilatio' on Samsung 5mini (scrolling) and iPhone xr (not scrolling)
![IMG_3487](https://user-images.githubusercontent.com/41396793/58330413-d29d3d80-7e04-11e9-9eac-dd2eb2de014e.jpg)
![IMG_3488](https://user-images.githubusercontent.com/41396793/58330421-d761f180-7e04-11e9-9e1e-3b3d52236a95.PNG)

[2019-05-24 13:38] monzug commented on #332
tested in Chrome, Safari and Firefox. it looks good, sometimes I have to adjust for Inflections or Examples but mostly ok.
Not sure if mobile is part of the scope of this issue. see comment below:
on mobile in the user word list the lemma is displayed on next line. see screenshot
![IMG_3489](https://user-images.githubusercontent.com/41396793/58330951-075dc480-7e06-11e9-8a23-9dc37b3cb701.PNG)
and w

[2019-05-24 13:38] irina060981 commented on #564
would be this way
![image](https://user-images.githubusercontent.com/12377640/58331721-16338e00-7e7d-11e9-8497-72160685b08f.png)

[2019-05-24 13:39] monzug commented on #358
Not sure how to test this. @balmas?

[2019-05-24 13:42] balmas commented on #358
I think if resizing works, then this can be verified, but I believe resizing was broken due to other changes, and the fix is waiting for me to give you a new build.

[2019-05-24 13:45] kirlat commented on #564
I think we shall remember that there is no set width for the mobile panel. What might fit into one device might be too large for the other. I think we shall try not to fit too many items into a toolbar: this design might fail easily when users start to use it on multitude of their devices.

But if we still want many items to be in there, then, probably, for safety, it's good a add a media query th

[2019-05-24 13:50] balmas commented on #564
Yes, I agree. This is a good idea. But I would suggest to have @irina060981 merge this (after @kirlat your review) and then to address that with another issue.

[2019-05-24 13:51] balmas opened #580 "adjust size of icons in compact panel based upon media query"
Yes, I agree. This is a good idea. But I would suggest to have @irina060981 merge this (after @kirlat your review) and then to address that with another issue.

_Originally posted by @balmas in https://github.com/alpheios-project/components/issues/564#issuecomment-495637495_

[2019-05-24 13:52] monzug commented on #341
verified.

[2019-05-24 13:54] monzug commented on #358
uhm, I just verified the resizing one for desktop but not for mobile

[2019-05-24 14:04] irina060981 commented on #564
It could be another problem here. We couldn't make the button too small - it should be similiar to the finger spot. And it seems to me that it is near that size in design .
If we start to decrease icon size if a mobile device has less width - it could become hard-touchable.
I have made the current layout for the iPhone X - 375px in width.

On Galaxy S (360px) - it is visible
![image](https://user-

[2019-05-24 14:04] kirlat commented on #358
We do not show the popup on mobile so I think this should be tested for desktop only

[2019-05-24 14:07] kirlat commented on #564
On my opinion, if it fits on 360px, it should be fine. I think devices with anything less than that would be too small anyway to use Alpheios functionality effectively.

[2019-05-24 14:08] irina060981 commented on #564
merged and closed

[2019-05-24 14:15] kirlat commented on #564
Here is a list of devices (a little outdated by today's standards but that's a good think for testing purposes) with their resolutions: https://www.mydevice.io/ CSS width is what would affect the minimal panel size.

Majority of devices does not go below 360px, but there are a couple of models that have it at 320px. However, those devices are clearly outdated and I think we can safely ignore them.

[2019-05-24 14:29] balmas commented on #564
Yes that's okay with me.

[2019-05-24 14:32] balmas commented on #580
copying some discussion from #564

Copying some additional discussion in #564

from @irina060981

If we start to decrease icon size if a mobile device has less width - it could become hard-touchable.
I have made the current layout for the iPhone X - 375px in width.
Do we really need to made queries for less width?

From @kirlat

Majority of devices does not go below 360px, but there are a couple o

[2019-05-24 15:10] monzug commented on #358
I verified issue #332  for desktop only. it's about panel resizing in general.

[2019-05-24 15:29] balmas commented on #580
I'm not sure if there is anything more we want to do here. Maybe we should fail a build if we exceed the size limitations?

[2019-05-24 15:58] monzug opened #582 "Grammar panel with double scroll bar"
Just notice that in build 3.0.0.36  and in text env in 1.0.0.14, the Grammar panel has two scroll bar in some specific scenarios.  Tested in Chrome and Firefox.
to repro: from define panel, enter 'partir' in lookup. the morphological popup is generated with no entry. click on define and then on Grammar. the panel opens with two scroll bars.
see screenshot

![double-scroll-bar](https://user-images.

[2019-05-24 17:19] balmas commented on #563
ok, ready for testing in texts-beta
embed-lib 1.0.0.16 webextension 3.0.0.37

[2019-05-24 17:22] balmas commented on #472
Ok, added an FAQ label and assigning to myself for adding there.

[2019-05-24 17:25] balmas commented on #397
ok, ready for testing (again) in texts-beta
embed-lib 1.0.0.16 webextension 3.0.0.37

[2019-05-24 17:25] #397 closed

[2019-05-24 17:26] balmas commented on #348
moving further work on this out of the beta.

[2019-05-24 17:30] balmas commented on #564
reading for testing in texts-beta
embed-lib 1.0.0.16
webext 3.0.0.37

[2019-05-24 17:31] balmas commented on #575
reading for testing in texts-beta
embed-lib 1.0.0.16
webext 3.0.0.37

[2019-05-24 17:31] balmas commented on #562
reading for testing in texts-beta
embed-lib 1.0.0.16
webext 3.0.0.37

[2019-05-24 17:31] balmas commented on #558
reading for testing in texts-beta
embed-lib 1.0.0.16
webext 3.0.0.37

[2019-05-24 17:34] kirlat commented on #580
Since there is DOM emulation available in Jest, we can probably write a test that will check panel size and will fail if its size is larger than 360px. That should be feasible, in theory.

[2019-05-24 17:35] balmas commented on #582
not critical for beta

[2019-05-24 17:37] balmas commented on #583
maybe for beta -- it depends upon whether we do another build before then

[2019-05-24 17:37] balmas commented on #579
can be in the beta if we do another build before then

[2019-05-24 17:38] balmas commented on #573
@kirlat can you investigate this when you get a chance? It would be nice to fix for the beta if we do another build before then but if not then soon after. thanks.

[2019-05-24 17:39] balmas commented on #571
@monzug can you try to reproduce this with the latest texts-beta code? I made one change which might have been sufficient, but maybe not.

[2019-05-24 17:40] #569 closed

[2019-05-24 17:40] balmas commented on #569
can't really do anything about this. it's a limitation of safari.

[2019-05-24 17:41] balmas commented on #541
it's a browser bug in chrome on mac. can't do anything about it.

[2019-05-24 17:41] #541 closed

[2019-05-24 17:49] balmas commented on #530
We can look into it. I have added it as alpheios-project/client-adapters#17

[2019-05-24 17:50] kirlat commented on #573
Sure, will do. Hope I will be able to reproduce it!

[2019-05-24 17:52] balmas commented on #539
test in texts-beta
embed-lib 1.0.0.16
webext 3.0.0.37

[2019-05-24 17:55] balmas commented on #538
test in texts-beta
embed-lib 1.0.0.16
webext 3.0.0.37

[2019-05-24 17:59] balmas commented on #473
not sure if this fix ever got tested

[2019-05-24 22:21] irina060981 commented on #583
@monzug , could you give me a password for the test user test@test.it?
That I could see this strange bug.

[2019-05-25 00:31] irina060981 commented on #579
Here it is
![image](https://user-images.githubusercontent.com/12377640/58362223-36dd0180-7ed8-11e9-8d8f-f41c65d3d93f.png)

![image](https://user-images.githubusercontent.com/12377640/58362229-40ff0000-7ed8-11e9-8a51-6f8c62a12b07.png)

![image](https://user-images.githubusercontent.com/12377640/58362233-478d7780-7ed8-11e9-993e-d61839a3fc61.png)

[2019-05-25 00:35] irina060981 commented on #579
merged and closed

[2019-05-25 00:35] #579 closed

[2019-05-25 01:04] irina060981 commented on #582
As I could see - that is because the notification layout - it makes the panel has not enough space for credits - and it makes the second scroll bar (for the panel) to appear.
If you close a notification - it will have enough space and only one scroll bar for the grammar iframe

![image](https://user-images.githubusercontent.com/12377640/58362658-def4c980-7edc-11e9-9f54-41e9c3d93bc6.png)

[2019-05-25 14:35] monzug commented on #564
tested on iPhone xr and Samsung 5 mini
examples are only for latin. I see diagrams in greek but could not find any for latin text in the text env, so I could not test the situation of 5 icons in the compact panel. any suggestion?

small issues
1) the active icon in compact panel is not sticky, if I scroll the panel, the icon goes back to white.
 see screenshot

2) in samsung 5 mini, in landscape v

[2019-05-25 14:46] monzug commented on #397
confirm split screen on iPhone xr. it's not on the right but left side and then I can expand.

[2019-05-25 14:48] monzug commented on #573
as I was testing issue #397 , I can confirm that I still can't scroll in landscape view

[2019-05-25 15:01] monzug commented on #583
psw: Test@123

iPhone xr, I can't go to show context for minus (or any other word that I scroll from the list). also show context tooltip is not generated.
on Samsung 5 mini, it works fine

[2019-05-25 15:26] monzug commented on #396
build 1.0.0.17
![notification 2](https://user-images.githubusercontent.com/41396793/58371514-d356d200-7edf-11e9-93d7-b431b864a853.JPG)

[2019-05-25 15:48] monzug commented on #562
tested in build 1.0.0.17
- confirm that filtering options are not present with only one word in the list. This works.
- auto complete and exact form/lemma work on desktop.
- filter by exact form does not work on mobile (iPhone xr and Samsung 5 mini). when I select by exact form, there is an other entry field visible under the form field. autocomplete does not kick in and the exact form does not do

[2019-05-25 16:19] monzug commented on #539
Thanks for implementing the perfect workaround for this issue.
One super minor thing (if there is an other build befor ethe beta, otherwise it can wait): while Select a filter is never in bold, the other headers (Select an author, Select a textwork, Select sorting type) in Examples are in bold and selectable. Can they be like in wordlist? Thanks

[2019-05-25 16:34] monzug opened #586 "Firefox and Chrome: activate Alpheios, the overlay is not generated, need to reload"
latest build 3.0.0.37 in Chrome and Firefox. activate Alpheios, the overlay is not generated or there is a delay, for some sites. after reloading the page, all works well. any subsequent deactivation /activation, the overlay shows up right away. sites like latin library, Wikipedia, Scaife.

[2019-05-25 17:54] monzug commented on #569
it's ok, at least we have a record of this issue.

[2019-05-25 18:01] monzug commented on #473
no longer reproducible in build 3.0.0.37
tested in site nihiliscio with wordlist from user test@test.it
lookup for venit (and other words) works fine

[2019-05-26 15:18] monzug commented on #563
build 3.0.0.37
Firefox: confirm that pop-up and overlay can't be moved again after the first move. in test env, it works fine.
Chrome: popup and overlay can be drag and drop several times.
tested in :
https://texts-beta.alpheios.net (1.0.0.16)
http://dcc.dickinson.edu/allen-greenough/Chapters/Chapter-100.html
https://www.thelatinlibrary.com
https://www.tradurreantico.it/latino/grammatica-latina/mo

[2019-05-26 15:34] monzug commented on #571
Still I can't login from not secure http://texts-beta.alpheios.net  on Samsung and iPhone xr

[2019-05-26 15:37] monzug commented on #530
Thanks

[2019-05-26 17:47] monzug commented on #575
tested in build 1.0.0.16 on iPhone xr and Samsung 5 mini
I am not sure what's going on here but it's difficult to link to any source, specially from de Bello Gallico (Caesar).
For some reason, I got some souce links to work from Elegiae, Propertius Sextus.
 I am not sure if it's the source link itself. need to try more things.

[2019-05-26 18:52] monzug commented on #538
could not reproduce the above scenario, also we don't have the overlay anymore. Fixed. Thanks!

[2019-05-26 20:17] monzug commented on #558
I still have some troubles with this navigation. The hide/show filters does take effect only after clicking on Get results. if I click on Show filter before getting results, I do end up on the same page as by clicking hide filters, except for the Filter by author/work that is grayed out so not selectable. I would suggest to remove the show/hide filters at this level as it is not necessary. Maybe i

[2019-05-27 04:58] irina060981 commented on #575
@monzug, could you give me some more details here:

 - If you test on desktop, and there are no any problems with clicking on the source link. Am I right? -
 - When you test on the mobile - most of all the time source link doesn't work - it is not clickable? or does it happen anything else?

I tried to see some bugs on my Samsung - I used
http://texts-beta.alpheios.net/text/urn:cts:latinLit:phi044

[2019-05-27 05:25] irina060981 commented on #558
Will fix it

I have made it this way - to reduce space

yes, I know what you talk about - it is the state when results are generating (that's why the button Get result is disabled), but filters are not ready - so show filters works a little early - I will fix it

[2019-05-27 06:01] monzug commented on #575
Irina, it's on mobile only. when I click on the link, most of the time (but not always) it does the lookup for the word I hover over when selecting the link. I could not find a good reason, I thought it could be the type of link or the word or the book or Samsung vs iPhone. definitely it does not work for me most of the time.

[2019-05-27 06:56] irina060981 commented on #575
Oh, i guessed, I have missed that on mobile we look at the another source block, that I didn't add to ignore.
I was testing source link in wordlist that's why I couldn't see the problem.
Wordlist and word usage examples sometimes mix in my head, I am sorry!
Will fix

[2019-05-27 07:16] monzug commented on #575
hahaha it does happen. No problem!!!!!!

On Mon, May 27, 2019 at 2:56 AM Sklyarova Irina <notifications@github.com>
wrote:

[2019-05-27 08:24] kirlat commented on #397
Left is a default position of the panel now, for both desktop and mobile (@balmas - shall we make it right as default for mobile or does it not matter?). But from within the Options menu user can switch to have panel at the right, if he or she prefers so.

[2019-05-27 08:48] irina060981 commented on #539
merged and closed

[2019-05-27 08:50] irina060981 commented on #558
Fixed 1 and 3
@balmas and @monzug , what do you think about sorting - do we need additional switch?

Merged

[2019-05-27 08:51] irina060981 commented on #575
:)
Merged and closed

[2019-05-27 08:51] irina060981 commented on #582
Merged and closed

[2019-05-27 08:51] #582 closed

[2019-05-27 10:01] monzug commented on #558
I just pointed out to check if it's ok to include sorting into filtering.

[2019-05-27 10:23] irina060981 commented on #583
May be it is specific for IPhone - I couldn't reproduce it on my devices :
 I login as a test@test.it
 go to the wordlist
 scroll down
 click to the icon - show context for any latin word
 it shows me context tab everytime

Don't know how to solve it

[2019-05-27 11:14] balmas commented on #558
I think it's okay for now.

[2019-05-27 11:16] irina060981 commented on #558
then I will close it

[2019-05-27 11:17] balmas commented on #397
I think it doesn't matter too much.

[2019-05-27 11:19] balmas commented on #571
ok.

[2019-05-27 11:21] balmas commented on #563
ok, so the problem remains, but only in Firefox?

[2019-05-27 11:23] balmas commented on #586
not critical for the beta release, which doesn't include the webextension but should fix soon

[2019-05-27 11:25] balmas commented on #562
this should be fixed.

this too, I think it should say "exact word"

[2019-05-27 11:30] balmas commented on #564
I think we probably need to detect this situation. The design called for the nav menu to actually change when in landscape split screen -- see alpheios-project/alpheios_nemo_ui#158.

[2019-05-27 11:31] balmas commented on #564
I don't think there is much we can do about this.

[2019-05-27 11:31] balmas commented on #564
see screenshot

I would like us to fix this.

[2019-05-27 11:32] balmas commented on #564
assigning back to @irina060981 to fix the active icon state.

[2019-05-27 11:46] balmas commented on #481
I think this should be fixed in the current build (3.0.0.37/1.0.0.16)

[2019-05-27 11:56] kirlat commented on #564
The current version of components, when present, sets a `data-ap-screen-orientation="landscape"` data attribute of an `html` element that contains the current screen orientation. It updates every time orientation changes.

There is also an orientation change event fired by the `Platform` class instance (UI controller has it in the `platform` prop) when orientation is switched. We can subscribe to

[2019-05-27 12:00] irina060981 commented on #564
I tried to look at it today - it has a direct style property - `padding-left: 50%`
so as we change layout via media-query - it doesn't properly work

[2019-05-27 12:12] monzug commented on #563
correct, only in Firefox

On Mon, May 27, 2019 at 7:21 AM Bridget Almas <notifications@github.com>
wrote:

[2019-05-27 12:36] balmas opened #587 "usage examples - hide filter after search"
As discussed, let's automatically hide the filtering/sort options on usage examples after executing a search, so that the results are visible on a small screen.

So workflow is:

1. user opens usage examples
2. filtering is hidden
3. user clicks get results
4. results show with filters hidden
5. user clicks show filters
6. user selects filtering options and executes search
7. results show, with fi

[2019-05-27 12:59] balmas commented on #571
I have solved this by just redirecting all http traffic to https on texts-beta. This will be necessary anyway for the PWA functionality so there isn't any reason not to do it now.

[2019-05-27 12:59] #571 closed

[2019-05-27 13:36] monzug commented on #481
not longer reproducible in 1.0.0.16 and 3.0.0.37 (firefox and Crome)

[2019-05-27 13:40] monzug commented on #571
the not secure site is redirect automatically to a secure site.

On Mon, May 27, 2019 at 8:59 AM Bridget Almas <notifications@github.com>
wrote:

[2019-05-27 13:44] monzug commented on #583
could be iPhone specific. Known issue? @balmas?

[2019-05-27 13:53] balmas commented on #583
yes. Will debug this with you next week...

[2019-05-27 13:53] balmas commented on #583
let's leave it open but take it out of the beta

[2019-05-27 14:33] monzug commented on #358
I don't see any issue with pop-up resizing here.

[2019-05-27 14:41] monzug commented on #352
I don't see any issue here on iPhone xr and Samsung 5 mini on text env. @irina060981 and @balmas, have you seen any issue with font size on your devices?

[2019-05-27 15:48] balmas commented on #558
can test in texts-beta embed-lib 1.0.0.17

[2019-05-27 15:49] balmas commented on #575
can test in texts-beta embed-lib 1.0.0.17

[2019-05-27 15:49] balmas commented on #419
can test in texts-beta embed-lib 1.0.0.17

[2019-05-27 15:50] balmas commented on #539
can test in texts-beta embed-lib 1.0.0.17

[2019-05-27 21:31] monzug commented on #558
Now hide and show filters make sense. Thanks!
tested in Chrome and Firefox  and mobile, build 1.0.0.17
Just realize that if I do double click and go to examples and get results for the same word two times in a row, the second time the author drop-down is empty.  on iphone xr, the dropdown for Authors is not populated the second time I go to examples for the same word
see screenshot
![second-x-exam

[2019-05-27 22:04] monzug commented on #419
verified. Thanks

[2019-05-27 22:08] monzug commented on #575
tested in build 1.0.0.17 on Samsung 5 mini it works like a charm!!!!
still on iphone xr, it jumps up to the first souce link of the list and shows that link.
@balmas Known issue?

[2019-05-27 22:16] monzug commented on #539
Select sorting type is not grayed out in the dropdown on iPhone xr. Can we apply the same fix on this one too? this can wait after the realese.

[2019-05-28 00:27] irina060981 commented on #352
@monzug , this issue depends on the fact if meta tag with scaling properties is presented in the header.
I have added it to the demo/index.html in embed-lib (I am testing most of all here) and it is added to texts environment.
So it shouldn't be reproducable (I didn't see this problem again)

But we didn't test it with pages that have other scaling properties in meta tag.
This is actual only for w

[2019-05-28 08:32] irina060981 commented on #587
It would work this way:
1. select a word and open usage examples
![image](https://user-images.githubusercontent.com/12377640/58463013-6c9f1600-8176-11e9-8382-a044bc6bb042.png)

2. get result is clicked
![image](https://user-images.githubusercontent.com/12377640/58463051-7d4f8c00-8176-11e9-9846-e79446066622.png)

3. show filters is clicked
![image](https://user-images.githubusercontent.com/12377640

[2019-05-28 08:40] irina060981 commented on #580
we could do the following:
we could set a minimal width of the panel (360px) - so if it is opened at the smaller device than it would be scrollable by the width - but it would be normal on most devices

I didn't understand - what do you mean by fail the build or create a test?
Do you mean to create a test, that will create an HTML layout with max buttons and check the width?
I think that it is not

[2019-05-28 11:02] irina060981 commented on #564
see screenshot

it was a small mix in styles - fixed

I suggest to change Lookup text to the icon when landscape mode.
It would be this way
![image](https://user-images.githubusercontent.com/12377640/58473366-c1995700-818b-11e9-952a-6bfdb8ccfee2.png)

It would be in this PR https://github.com/alpheios-project/components/pull/590

[2019-05-28 11:12] irina060981 commented on #539
@monzug , you are quite right - I have missed to setup it on sorting panel.
Will fix it

[2019-05-28 11:23] kirlat commented on #352
In webextension we can inject our own viewport meta tag to control scaling, and even restore the original viewport data after extension is deactivated, but I don't know if we should go that far.

[2019-05-28 11:40] balmas commented on #352
we should not worry about the webextension for now, since it doesn't work on mobile devices anyway.

[2019-05-28 11:41] irina060981 commented on #352
I think that it is not as easy as it expected to be.
Changing meta-tags after page is loaded won't rerender page automatically in all situations, because it is not a css.
The viewport meta tag tells the browser how to behave when it renders the webpage, you can tell it how big the viewport will be.

[2019-05-28 11:45] balmas commented on #575
I would say let's leave it for now, although it's possible that the fix @kirlat just made for #573 could help here.

[2019-05-28 11:46] balmas opened #591 "bug in usage examples author selection"
tested in Chrome and Firefox  and mobile, build 1.0.0.17
Just realize that if I do double click and go to examples and get results for the same word two times in a row, the second time the author drop-down is empty.  on iphone xr, the dropdown for Authors is not populated the second time I go to examples for the same word
see screenshot
![second-x-examples](https://user-images.githubusercontent.co

[2019-05-28 11:47] balmas commented on #558
Agree. This is reported as new issue #591.

Can we close this one @monzug ?

[2019-05-28 11:49] irina060981 commented on #562
1. I have descreased the space that needs for filters - so they shouldn't become 2 lines
![image](https://user-images.githubusercontent.com/12377640/58475872-7afb2b00-8192-11e9-9965-5e36627f77d0.png)

2. Fixed

[2019-05-28 11:50] monzug commented on #558
Absolutely. Will do when I get back home

Sent from my iPhone

[2019-05-28 11:57] irina060981 commented on #587
merged and closed

[2019-05-28 11:57] #587 closed

[2019-05-28 11:58] irina060981 commented on #564
2 first points are merged and closed
the last with alpheios-nemo will do now

[2019-05-28 11:58] irina060981 commented on #539
merged and closed

[2019-05-28 11:58] #539 closed

[2019-05-28 11:59] irina060981 commented on #562
Merged and closed

[2019-05-28 11:59] #562 closed

[2019-05-28 12:01] irina060981 commented on #564
Oh the last in a separate issue - then - I will close it

[2019-05-28 12:01] #564 closed

[2019-05-28 13:27] balmas commented on #562
can be tested in texts-beta embed-lib 1.0.0.18

[2019-05-28 13:28] balmas commented on #539
can be tested in texts-beta embed-lib 1.0.0.18

[2019-05-28 13:29] balmas commented on #587
can be tested in texts-beta embed-lib 1.0.0.18

[2019-05-28 13:29] balmas commented on #573
can be tested in texts-beta embed-lib 1.0.0.18

[2019-05-28 13:33] #558 closed

[2019-05-28 13:43] monzug commented on #539
YES!!!! thanks

[2019-05-28 15:18] monzug commented on #573
Definitely some improvements, thanks!!!  however, if show source links is on, I can't scroll down much (between 7 to 10 source links in expanded portrait view) then it bounces back up. same in landscape view where it's also difficult to click on show/hide source links without experiencing the transparency problem (lookup for links or source). Also, on Samsung I see the same problem with the show/h

[2019-05-28 15:29] monzug commented on #575
it's better but I can't really test this issue as I can't scroll down the list after the 7th or 8th source link.

[2019-05-28 15:52] monzug commented on #587
tested in build 1.0.0.18, both mobile and Chrome and Firefox on desktop. the logic is there.

[2019-05-28 16:19] monzug commented on #562
exact word is fixed. autocomplete works fine both for exact word and lemma. the entry field for filter for exact word/lemma should NOT make the first letter upper case., otherwise the filter is not working.
shall I enter a separate issue or shall we fix this one?

[2019-05-28 16:20] balmas commented on #562
ugh.... that's an easy fix, I know.  what do you think? worth another build?

[2019-05-28 16:59] monzug commented on #562
well, it's not working basically unless you change to lower case. I would do an other build. I can check the fix tonite. I'll stay up anyway

[2019-05-28 17:00] balmas commented on #562
ok, buildling now

[2019-05-28 17:22] balmas commented on #562
ready for testing in text-beta embed-lib 1.0.0.19

[2019-05-28 17:40] monzug commented on #562
Thanks!!!!

[2019-05-29 11:32] balmas opened #595 "usage examples: fix prefix/suffix sort"
Requested by @abrasax

1. rename prefix to "preceding word"
2. rename suffix to "following word"
3. the preceding word sort should sort on the word immediately before the exact word, but it is currently sorting on the first word of the example

[2019-05-29 11:54] abrasax commented on #595
By the way, whoever changed my "exact word" to "exact form" made a very
good decision.

On Wed, May 29, 2019 at 7:32 AM Bridget Almas <notifications@github.com>
wrote:

[2019-05-29 11:57] balmas commented on #595
good decision.

If you mean in the word list filters, that is now "exact word" to match what you requested originally.

[2019-05-29 12:03] abrasax commented on #595
yesterday my version said "exact form"- but either is adequate for the
moment.

On Wed, May 29, 2019 at 7:57 AM Bridget Almas <notifications@github.com>
wrote:

[2019-05-29 12:48] monzug commented on #595
I asked to change to exact word based on issue #562

[2019-05-29 14:26] kirlat commented on #573
I was able to reproduce the issue with the show/hide links button and I submitted a fix for that. I've also reduced an active zone of the source link itself which might help to prevent it from being activated accidentally when scrolling.

However, I was not able to reproduce bouncing back when scrolling on the devices I have (iPhone 6s, Redmi 1S). Will do more testing trying to catch that.

[2019-06-06 14:52] monzug opened #598 "Don't add words without results to the user wordlist"
tested in Firefox 67 build 3.0.0.37
I signed up as new user in Firefox and then select tacitus and liber xiv from latin library, then I double click on a word from the above text. I noticed that the word Tacitus and XIV were added to user word list. when clicking on those words from the user word list, I get the message that lexical data could not be populated because page language is not defined.

[2019-06-07 18:18] balmas commented on #598
hmm. this is a difficult one. We can't always know why we don't get a result and I am not sure we really want to exclude words from the user's word list in that case. Need to think about this a bit.  @abrasax do you have any thoughts? If we can't provide a parse for a word (which might be because it's not a valid word and might be because it's missing in the parser), should it still be added to th

[2019-06-07 19:10] balmas commented on #583
I saw this on @monzug 's XR but not sure really what the best way to debug is because it isn't a javascript error. It did occur in both Chrome and Safari.

I was thinking maybe we need to produce some test pages with the HTML of a long wordlist and have her try loading it outside the context of the panel to isolate whether it's a problem with the wordlist html/css or the restricted space of the pa

[2019-06-07 19:10] balmas commented on #583
what do you think @irina060981 ?

[2019-06-07 19:12] balmas commented on #573
@monzug and I tested the show/hide links button and that does seem to be fixed now.  But the scrolling problems remain. See also #583 which I think might be the same issue for the wordlist.

[2019-06-07 19:47] balmas opened #599 "add account linking feature"
Might be needed for full GDPR compliance

https://auth0.com/docs/link-accounts

[2019-06-07 19:49] balmas opened #600 "add clickjacking protection to auth0 login page"
https://auth0.com/docs/migrations/guides/clickjacking-protection

[2019-06-07 19:57] balmas opened #601 "add ability for user to delete their account"
for GDPR we probably need to add a UI for a user to delete their account

[2019-06-10 06:18] kirlat commented on #573
@balmas, @monzug, does the scrolling issue affects only iPhone XR (i.e. it may be present on some other phones but I mean is the iPhone XR the only phone at our disposal that has this issue)? I've tried to reproduce it on iPhone 6s and I do not see this thin appearing.

[2019-06-10 06:45] kirlat commented on #586
@monzug, is this for the embedded lib or for the webextension? If it's for the former, then maybe it is related to the time required to initially load all the files that embedded lib needs. Right now it's around 5 MB of data, so it may take some time to get them. Once downloaded, this data is cached. That's why it might show fast on subsequent activations and deactivations.

But it's a wild guess

[2019-06-10 11:23] balmas commented on #573
Happens on the iPhone X too, in both the usage examples and the wordlist

[2019-06-10 11:27] balmas commented on #586
I believe this was about the webextension.

[2019-06-10 11:43] balmas commented on #12
we added a survey widget instead for now.

[2019-06-10 11:43] #12 closed

[2019-06-10 11:44] balmas commented on #3
I think this is obsolete now.

[2019-06-10 11:44] #3 closed

[2019-06-10 11:44] balmas commented on #19
I don't know if this is still an issue at all. Assigning to @monzug to investigate.

[2019-06-10 12:49] balmas commented on #514
I think I'm going to mark this won't fix for now, pending further user reports.

[2019-06-10 12:49] #514 closed

[2019-06-10 12:55] balmas commented on #348
closing this pending further user feedback. It seems to be working pretty well right now.

[2019-06-10 12:55] #348 closed

[2019-06-10 12:57] balmas commented on #580
Ok, yes, let's do this.

And this

[2019-06-10 13:17] balmas commented on #267
I think this is obsolete now. @monzug can you verify?

[2019-06-10 13:18] balmas commented on #125
obsolete with use of Vuex.

[2019-06-10 13:18] #125 closed

[2019-06-11 13:25] balmas commented on #522
I was hoping to do a full refactoring of the way we handle the settings before we added this feature, but I think we don't have time right now so I would like to go for a more minimal approach.

**Storage**
I would like to use the Auth0 Management API and store user preferences as User Metadata
(https://auth0.com/docs/users/concepts/overview-user-metadata). We will use one metadata property per se

[2019-06-11 13:25] balmas commented on #522
@kirlat and @irina060981 please let me know what you think of this approach.

[2019-06-11 17:50] balmas commented on #109
this is pretty much done. tabs are not there, and the buttons are grayed out on the floating toolbar

[2019-06-11 17:50] #109 closed

[2019-06-11 17:52] balmas commented on #488
depends on #522

[2019-06-11 17:53] balmas commented on #573
@irina060981 can you reproduce this on the iPhone 7?

[2019-06-11 23:58] irina060981 commented on #573
I have made two different tests -

1. I have uploaded a simple page with embed-lib
    http://alpheios-test7.irina-sklyarova.ru/demo/

And I couldn't reproduce here any problems with scrolling and clicking on the source link

2. I have tested text-beta.alpheios.net
I opened a latin text and try to lookup.

And here I see the fillowing problem - clicking on the source link (in any mode) scrolls the

[2019-06-12 13:01] monzug commented on #267
the steps to repro are slightly different but Kirlat's suggestion is still valid.

[2019-06-12 13:25] monzug opened #605 "Blank panel instead of Info panel"
Tested in Chrome and Firefox,
when I right click or use the Alpheios logo to open the info panel, I get a blank panel instead. see screenshot
![blank-panel](https://user-images.githubusercontent.com/41396793/59354314-e8f73480-8cf2-11e9-81de-18da16fe730a.JPG)

to repro:
1) activate Alpheios
2) right click on the page and select Info from Alpheios Reading Tools
3) the panel opens with blank page

if

[2019-06-12 13:50] monzug commented on #19
lookup for virtutibus. the inflection panel has a horizontal scroll bar that could be unneeded.
see screenshot
![virtutibus](https://user-images.githubusercontent.com/41396793/59356487-ef87ab00-8cf6-11e9-8ae1-7d1dd5dec394.JPG)

[2019-06-12 14:11] balmas commented on #573
Ah that's interesting. @monzug can you try to reproduce the scrolling problems at https://balmas.github.io/alpheios-embed-demo/ ?

[2019-06-12 14:20] balmas commented on #267
ok, thanks.

[2019-06-12 14:21] balmas commented on #605
I think it's probably just something we need to update in the webextension code.

[2019-06-12 14:24] balmas commented on #19
I think the problem with the inflection table scroll bars might be the same cause as in #480, the setting of the max width for the panel of 80% of the viewport. @irina060981 can you verify? Thanks!

[2019-06-12 14:36] monzug commented on #573
I used the balmas page on gitgub. I can still reproduce the scrolling issue described above on iPhone xr. will try on iPhone 6s

[2019-06-12 15:11] monzug commented on #573
was able to reproduce the scrolling problem on iPhone 6s too.

[2019-06-12 17:56] kirlat commented on #522
To me, it sounds like a very good plan. Here are some additional thoughts about details of implementation.

a. The use of domain is very important. This will give us some piece of mind in isolating data of one type from the other.

b. I think it is also important to establish a versioning schema for options. Let's say we decided to change the way we store UI options and retarget some existing opti

[2019-06-12 18:53] balmas commented on #522
Agree with this approach.

[2019-06-12 18:56] balmas commented on #522
I thought about this, and it was what I was originally thinking of. I think the possibility to have multiple adapters is a good design, however, in this particular use case, I think we would probably not always want to save to local storage (or sync storage) while operating as a specific user. The reason for this is that a computer might be used as a shared workstation, in which case any setting c

[2019-06-12 18:57] balmas commented on #522
We do already have this don't we, in the default json files for each setting category?

[2019-06-12 23:52] irina060981 commented on #595
Merged and closed

[2019-06-12 23:52] #595 closed

[2019-06-12 23:53] irina060981 commented on #591
Merged and closed

[2019-06-12 23:53] #591 closed

[2019-06-13 00:47] irina060981 commented on #522
I like these approaches - I think it looks well!

I have only one note here - if we have more than one target to save data abd restore data - local and remote, or one user could have different versions of saved properties (I mean different versions of saved domains), than we should have defined sync process inside some adapter to define the priority of data (if they are different) and merge method

[2019-06-13 07:25] kirlat commented on #522
This is correct. I just wanted to stress out that it would be good to keep it with this update, and extend the data stored with the version number, which we currently do not have.

[2019-06-13 09:04] kirlat commented on #522
I think we probably don't need to sync data between different versions. One time conversion, when user switches to the newer version of options, might be enough. Then both old and new versions can coexist, on my opinion.

Here is a usage scenario to illustrate the above.
1. User is working with V2 of the options through the older version of an embed-lib.
2. User starts to use a new version of embe

[2019-06-13 10:03] irina060981 commented on #573
For some unknown reasons - my previous link started to work in a very strange way - it shows empty panel and as I could see chrome console - there is no even any lexiqal requests.
Clearing cach, renaming domain didn't help (I would postpone this strange behaviour for some repeat).

I have created a new link - I pushe there sample.html with dist folder from embed-lib repo and now it works without a

[2019-06-13 10:18] irina060981 commented on #573
But both http://text-beta.alpheios.net and https://balmas.github.io/alpheios-embed-demo/
has jumping behaviour

[2019-06-13 11:18] irina060981 commented on #573
I am using on my page master branch of embed-lib with master branches of all repos inside.
@balmas , do you use the last version of embed-lib and components repo on your page?
Could you compare ?

[2019-06-13 11:31] irina060981 commented on #583
I have tested it on my light page
http://alpheios-test-embed.irina-sklyarova.ru
and scrolls if trying to click the link at the show context after scroll it
if click on the show context in the first words (no scroll) - it opens well.

On Samsung there is no such bug.

It is interesting scroll behaviour - it seems to me that it is some Iphone mobile browser behaviour when there are two scrolls - one

[2019-06-13 12:09] balmas commented on #573
oh, this is a good point. I have updated my site (https://balmas.github.io/alpheios-embed-demo/) to use a build 1.0.0.22 of embed-lib which is the latest code from master for everything.

@monzug does this fix it?

[2019-06-13 12:44] monzug commented on #573
let me check

On Thu, Jun 13, 2019 at 8:09 AM Bridget Almas <notifications@github.com>
wrote:

[2019-06-13 12:47] irina060981 commented on #583
I think I have found the problem here - it is very IOS specific :)
We have an alph-tooltip around icons on wordlist tab.
And tap in IOS works the following way (according to this - https://css-tricks.com/annoying-mobile-double-tap-link-issue/):

on tap first it activates hover state and then it activates click state
as for alph-tooltip - it shows tooltip on hover and as it needs to show it - it sc

[2019-06-13 12:54] monzug commented on #573
landscape view works fine!!!!! portrait view not quite, still bouncing back after several source links. However  if I was able to get to the bottom of the examples page  by scrolling horizontally first (away from the source links) and from there I was able to scroll all the way down without any problem.

[2019-06-13 13:28] monzug commented on #582
tested in build 3.0.0.39 Firefox and Chrome + text env 1.0.0.21
looks good. Thanks

[2019-06-13 13:46] monzug commented on #352
I don't see the problem on mobile. tested on balmas.github.io

[2019-06-13 17:00] balmas commented on #573
interesting. So that points to the source link html as being the place to focus for the cause.

[2019-06-13 17:01] balmas commented on #573
maybe the same as with #583, the tool tips @irina060981 ?

[2019-06-13 17:02] balmas commented on #583
yes please remove the tooltips for the mobile view.

what buttons do you want to make bigger? the show context? that's fine.

[2019-06-13 17:08] balmas commented on #522
I think that sounds good.  We do need to add an ability to remove all user data, including the account (see #601 ) and we should also allow them to reset their settings back to default (see #488).  I think expiring old versions might also be good, but think that it can be postponed until we actually have a new version of settings.

[2019-06-13 17:40] balmas opened #607 "add uiController method openLookup"
@abrasax would like us to be able to add a lookup icon to the mobile reader UI that opens just the lookup component

For this we need to add an openLookup method that opens the action panel with just the lookup component in it.

[2019-06-13 17:44] balmas opened #608 "option to remove lookup component from action panel"
requested by @abrasax

After #607 is implemented, in the Alpheios reader a lookup icon will open the lookup component, and in this configuration the lookup component should be no longer present in the action panel when it is opened from the tools icon

However, because non-alpheios users of the embedded library may include the floating toolbar icon instead of custom elements for these features, we

[2019-06-13 17:53] balmas opened #609 "all icons 22x22"
@abrasax requests that we make all icons 22x22

unfortunately this conflicts with adherence to web accessibility standards but design is trumping accessiblity here.

I think right now they are already 22x22 everywhere except in the panel toolbars (both compact and full)

[2019-06-13 18:03] balmas commented on #472
Maybe we lost this fix or something else broke it. I was able to move the overlay outside of the visible area of the screen in the texts-test and texts-beta environment in Chrome (embed-lib 1.0.0.21+)

[2019-06-13 18:05] balmas opened #610 "usage examples - change sort option "by text work" to "by work""
usage examples - change sort option "by text work" to "by work"

[2019-06-13 18:06] balmas opened #611 "usage examples/wordlist: change "filters" to "limits""
requested by @abrasax we should call filters limits

[2019-06-13 18:10] balmas opened #612 "compact panel: navigation back to morphology from grammar"
when we implemented #564 we lost the ability to get back from a grammar link to the morphology (@irina060981 pointed this out but I missed the significance at the time...)

I think the simplest way to deal with this is to add a morphology icon to the compact panel navbar when navigating to the grammar panel from the morphology (but it would not be present when navigating from the action panel)

[2019-06-13 18:11] balmas opened #613 "grammar index not displaying after first use"
at some point we lost the ability to get back to the grammar index. The first time you browse the grammar you get the index, but if you do a subsequent lookup and link to the grammar from the morphology there is no way to get back to the index.

[2019-06-13 18:17] balmas opened #614 "use ? instead of i for info icon"
to be consistent with alpheios-project/alpheios_nemo_ui#156

[2019-06-13 18:18] balmas opened #615 "update info panel text"
to be more consistent style and content-wise with the getting started help in the alpheios_nemo_ui reading environment

[2019-06-14 10:34] irina060981 commented on #583
I mean to change it this way - so it would be a little easier to tap it:
![image](https://user-images.githubusercontent.com/12377640/59503459-c7a96a80-8ee3-11e9-8ffa-4dc5add964ee.png)

[2019-06-14 10:38] irina060981 commented on #573
I am not sure - because there is no tooltip around a link on word usage examples tab.
I couldn't reproduce it on my source (as I showed in video) but I see that with changes from the PR - it behaves a little other way.

So I hope it could help. Waiting for your tests :)

[2019-06-14 11:03] irina060981 commented on #612
I suggest to do it a little simplier and more predictable from my point of view

if there is no morph data than grammar tab has only this icon
![image](https://user-images.githubusercontent.com/12377640/59504688-d47b8d80-8ee6-11e9-9652-acdd3620c2b3.png)

if there is morph data, grammar tab has also morph icon
![image](https://user-images.githubusercontent.com/12377640/59504934-756a4880-8ee7-11e9-8

[2019-06-14 11:14] irina060981 commented on #580
I think that we couldn't do both - set minimal to 360px and render if page less than 360px
I think it is enough to do the second -

Am I right, @balmas?

[2019-06-14 11:49] balmas commented on #580
ah, good point :-)

Yes, I think that the latter suggestion is fine. Thank you!

[2019-06-14 12:01] irina060981 commented on #612
Merged and closed

[2019-06-14 12:01] #612 closed

[2019-06-14 12:02] irina060981 commented on #583
Merged and closed

[2019-06-14 12:02] irina060981 commented on #573
Merged and closed

[2019-06-14 12:03] irina060981 commented on #573
Waiting for your tests and verification!

[2019-06-14 12:13] kirlat commented on #586
I did a lot of testing with webextension, and I never was able to reproduce a case when the overlay was not showing. It was always showing a panel after the extension was activated.

However, I've observed a noticeable delay before the panel is shown. I've investigated the source of that, and figured out it's due to two factors: the page slow loading (some pages can take more than ten seconds to l

[2019-06-14 12:38] irina060981 commented on #19
I don't quitely understand what is wrong with scrollbars.
As I could see at the Monica's screenshot it has a horizontal scrollbar, because
  - the right padding and and right border are invisible because not enough space
  - all text in the table is very tight (headers) - so it couldn't become more narrow

@balmas , yes it has 80% from the width (as max-width) and it is used inside interact.js

Ma

[2019-06-14 12:39] monzug commented on #586
Thanks for looking into the delay!!! my experience was with new installed webextension, after that activation/deactivation worked fine. will try in new build.

[2019-06-14 12:40] irina060981 commented on #480
By the way, may be we could simply place the button expand/collapse to the left?
It would be predictable and easy to use.
@balmas , what do you think?

[2019-06-14 12:47] irina060981 commented on #267
I have a question here - because UI is slighty changed after @kirlat described the issue.

Now we have 2 lookup components - in toolbar and in panel.
So we should realize the following workflow:

if a user try to lookup via any lookup panel (toolbar or panel) and the morph adapter didn't return a result, we should save it to memory (I think to Vuex) and publish to both lookups ?

[2019-06-14 13:00] monzug commented on #586
Re-tested in build 3.0.0.39 in Chrome and Firefox, the overlay is generated also on first activation of Alpheios. there is a delay more noticeable in some sites (e.g. Scaife) than eithers

[2019-06-14 13:17] kirlat commented on #586
I think it's taking longer on some sites because Alpheios code and the other code that is loading on the page, while executing simultaneously (because JS is single-threaded), will compete for the same limited amount of resources of the CPU. So on sites where the page rendering involves some extensive calculation and taking, let's say 70% of the CPU time, there is only 30% left to the Alpheios code

[2019-06-14 14:07] monzug commented on #472
uhm, in Chrome build 3.0.0.39, site https://latin.packhum.org/loc/1017/6/6/1534-1540#6
I was able to move the overlay outside the visible area. on reload, it come back.

[2019-06-14 14:49] balmas commented on #586
Maybe also consider #408 when working on this?

[2019-06-14 14:57] kirlat commented on #586
Great idea, I think there can be a solution to satisfy both.

[2019-06-14 14:58] balmas commented on #472
yeah, something seems to have changed here

[2019-06-14 14:59] balmas commented on #480
That seems fine to me. @monzug what do you think?

[2019-06-14 15:07] kirlat commented on #472
I have not had a chance to check it out yet, but the existing solution was not working an all sites. There are sites with such crazy layouts (often with errors in their HTML code) that a built in boundary control of Interact.js (that we're using) failed completely. We did not go with implementing our own functionality for that, and it's not clear if we can do it better than Interact.js. But it was

[2019-06-14 15:07] balmas commented on #267
hmm. yes, I think so.  @kirlat do you agree?

[2019-06-14 15:09] balmas commented on #19
I don't know, it's a slippery slope. I think this probably isn't a super high priority right now. Let's defer it.

[2019-06-14 15:16] balmas opened #618 "use icons instead of text buttons in popup"
requested by @abrasax

for consistency, let's see how using the icons instead of text for the define, inflect, diagram, examples buttons in the popup

[2019-06-14 15:19] balmas opened #619 "usage examples: populate upon access"
Rather than offer a "Get Results" button on the Usage Examples page to retrieve the default unfiltered results, we should execute the search when the examples tab is accessed if results are not already available.

[2019-06-14 15:20] kirlat commented on #267
I am for syncing the data between the two lookups. But I'm afraid this can be more complicated than just syncing the word now. The problem is that if we start keeping them in sync, we have to sync language options (i.e. the language selected) too. But by requirements language options work differently for the two lookups: the one in a panel has controls to allow select language and lexicons, or use

[2019-06-14 15:24] balmas opened #620 "usage examples: automatically execute limit (filter) upon selection"
@abrasax points out that the extra step to click "Get Results" when you have chosen a limit on author or work is unnecessary.

Selecting an author should execute the author search immediately. This will fix another bug - which is that currently when you select an author, the only works listed are those that are in the unfiltered results, which have been restricted to only 3 results per author (by

[2019-06-14 15:31] balmas opened #621 "Usage examples: default sort on author + work"
@abrasax requests that when we return usage example results, the default sort order should be a primary sort on author, and secondary sort on work.

Then we can eliminate the sort options for author and work entirely, because clearing a sort on preceding or following word should reset to the default order

He would also like to eliminate the words "Select sorting type" in the select box when none

[2019-06-14 15:37] monzug commented on #480
easy solution. why not?

[2019-06-14 16:00] balmas commented on #267
need to think about this a little bit.

[2019-06-14 16:21] monzug commented on #267
how about if lookup is initiated in panel, we'll offer the word in panel. if lookup is initiated in toolbar, we'll offer the word in toolbar

[2019-06-14 18:39] balmas commented on #267
Yes I think that is simplest for now. Let's not try to sync them.

[2019-06-14 18:41] balmas commented on #420
postponing to next release, pending user feedback.

[2019-06-14 18:48] balmas opened #622 "word selection problems on texts where words are enclosed in tags"
alpheios_nemo_ui presents some texts in which each word is wrapped in a span tag. (E.g. see Aeschylus Agamemmnon) and the word selection acts a little wonky in these cases (it's even more apparent on arabic texts). On the desktop the entire sentence first gets selected, then it narrows to the word. On the mobile, it's very hard to select just the word.

[2019-06-14 18:58] balmas commented on #60
moving this out of the mvp release.

[2019-06-14 22:41] irina060981 commented on #580
merged an closed

[2019-06-17 06:01] irina060981 commented on #613
As I could see it works this way -
   grammar index has url - https://grammars.alpheios.net/bennett/toc.htm?ts=1560750808070#alph-table-of-contents
   when you click and paragraph, you change the link for example to this
      Introduction—The Latin language -> https://grammars.alpheios.net/bennett/intro.htm

It seems to me that we could one of the following:
   1. refresh the iframe content on ea

[2019-06-17 12:54] balmas opened #623 "initial display of tree on desktop is smooshed"
I think maybe introduced by some of our changes to the sizing of the panel, the initial display of the trees in the diagram window appear smooshed

navigating between trees once loaded, the display resolves.

![Alpheios Texts](https://user-images.githubusercontent.com/644870/59605788-87154100-90dd-11e9-86ba-d68be349a09b.png)

[2019-06-17 12:58] monzug commented on #613
I don't think I have ever seen the intro page before!!!!!
I see the issue reported by Bridget (good catch). I checked Alpheios.net and the table of context is generated on every new lookup. Right now it's sticky to the last displayed section of the grammar.

[2019-06-17 13:04] balmas commented on #613
For now, I'd like the grammar to open to the index whenever you access it from the browse grammar button on the toolbar and to the linked section when you open it by linking to it from the morphology details.

In the future, we should consider adding better navigation within the grammar pages, but that will have to wait for now.

[2019-06-17 18:20] monzug opened #624 "Clean up Options for mobile before release"
there are few unnecessary Options for mobile:
pop-up position
ui type
maybe we can just grayed them out?

[2019-06-17 19:31] balmas opened #625 "tooltip activation area larger than icons"
reported by @PonteIneptique

the activation area for the tooltips is larger than the tools icons themselves, so the tooltips appear before your mouse has even hovered over the icon.

This was reported in the current release, so I'm not sure if it is still an issue in the master branch but we should check.

Maybe to take into account when looking at this: #609

[2019-06-17 19:32] balmas commented on #609
note :in check-in today we discussed the possibility of keeping the touchable area 44x44 but just reducing the icons.  We should try this, but note also #625 -- these may be conflicting requests.

[2019-06-18 16:18] balmas commented on #580
ready for testing at texts-test embed-lib 1.0.0.23

[2019-06-18 16:20] balmas commented on #573
ready for testing at texts-test embed-lib 1.0.0.23
webextension 3.0.0.40

[2019-06-18 16:21] balmas commented on #583
ready for testing at texts-test embed-lib 1.0.0.23
webextension qa-3.0.0.40

[2019-06-18 16:21] balmas commented on #612
ready for testing at texts-test embed-lib 1.0.0.23
webextension qa-3.0.0.40

[2019-06-18 16:22] balmas commented on #591
ready for testing at texts-test embed-lib 1.0.0.23
webextension qa-3.0.0.40

[2019-06-18 16:22] balmas commented on #595
ready for testing at texts-test embed-lib 1.0.0.23
webextension qa-3.0.0.40

[2019-06-18 16:24] balmas commented on #109
@monzug let me know if you agree we are all set with this.

[2019-06-18 18:21] balmas commented on #314
I'm going to split this into two issues: this one is for requiring consent to terms upon signup.  In the future we should track consent but it may not be required for minimal GDPR compliance.

[2019-06-18 18:23] balmas opened #627 "authentication: track consent to terms"
in additional to requiring users to consent to terms upon signup, we probably should track that consent. Auth0 can provide this automatically with acceptance of consent for user accounts that are created with an email address, but it will creation and hosting of a custom form for the social identity provider (i.e. google) accounts.

[2019-06-18 18:24] balmas commented on #314
I have changed the hosted login form to require consent upon signup. This can be tested now in the webextension and the next build of the embedded library.

[2019-06-18 20:30] balmas commented on #623
I think the problem is that the src of the iframe is being updated before the panel is visible. See this comment from the current 2.1.0.0x release version of the code:

https://github.com/alpheios-project/components/blob/v0.6.3-patch1/src/vue-components/treebank.vue#L39-L41

that was lost in the refactoring. Assigning to @kirlat to fix.

[2019-06-19 13:26] irina060981 commented on #619
Also I have removed the option - Get results without limits
as it lost any sense without a button.

[2019-06-19 13:38] irina060981 commented on #621
@balmas , for now it is sorted by fullCit() by default.
FullCit = author.title + textWork.title (uppercase to ignore case-sensitive sorting).

That's why I believe that we already have the default sorting by author and textWork.
Or it is not working this way?

May be if I am right - it is enough here
   - to remove by author and by textwork
   - rename Select sorting type - by author and textwork?

[2019-06-19 13:43] monzug commented on #109
yes, OK for me.

[2019-06-19 14:42] balmas commented on #605
can be tested in qa-3.0.0.40

[2019-06-19 14:42] #605 closed

[2019-06-19 14:59] balmas commented on #621
Yes, if that's already the default sort then you are correct.

Can we change "Select sorting type" to "Author+Work" and also let's just remove the "By" in front of the other options since it's redundant with the "Sort by" instruction. Thanks!

[2019-06-19 23:32] irina060981 commented on #610
Merged and closed

[2019-06-19 23:32] #610 closed

[2019-06-19 23:32] irina060981 commented on #611
Merged and closed

[2019-06-19 23:32] #611 closed

[2019-06-19 23:33] irina060981 commented on #619
Merged and closed

[2019-06-19 23:33] irina060981 commented on #620
Merged and closed

[2019-06-20 00:38] irina060981 commented on #621
Ok, it would be looked like this

![image](https://user-images.githubusercontent.com/12377640/59810225-94356880-9347-11e9-99c7-0d1155453f50.png)

[2019-06-20 12:25] monzug commented on #605
works fine in build 3.0.0.40 (Firefox and Chrome)

[2019-06-20 12:38] monzug commented on #591
looks good. thanks

[2019-06-20 12:45] balmas commented on #620
ready for testing at texts-test

[2019-06-20 12:46] balmas commented on #619
embed-lib 1.0.0.24/webextension 3.0.0.41

[2019-06-20 12:47] balmas commented on #611
embed-lib 1.0.0.24/webextension 3.0.0.41

[2019-06-20 12:47] balmas commented on #610
embed-lib 1.0.0.24/webextension 3.0.0.41

[2019-06-20 12:54] balmas commented on #586
embed-lib 1.0.0.24/webextension 3.0.0.41

@monzug this requires a regression of the inflection table browser, because it touched every table.

[2019-06-20 12:54] balmas commented on #408
@kirlat is there still work to do here for the lookup based inflection tables?

[2019-06-20 13:21] kirlat commented on #408
I think they're fine. The first (selected by default) table is created and inserted into the panel in the background while the lexical query is still running and the popup is displayed. The other tables are rendered when a user switches to them using the table selector. I think we should not have any problems with such approach.

[2019-06-20 13:50] monzug commented on #583
tested in text env on mobile and desktop. IT WORKS!!!!! thanks Irina,
however the new icons are way too big also for the Samsung 5 mini. see screenshot with wrapping text

![IMG_3628](https://user-images.githubusercontent.com/41396793/59854014-0b66fe80-9340-11e9-819a-1730ea524c0d.PNG)

as per the tooltip been removed, the delete icon is obvious, but the Show context not so much. if the tooltip is

[2019-06-20 14:16] monzug commented on #573
Unfortunately this hasn't been fixed. tested on iPhone xr both in landscape and portrait view. in landscape if I scroll from the right side of the screen, away from the source link, the scrolling works fine, as described in one of my comments above.

[2019-06-20 14:45] monzug commented on #612
good catch, Irina!!! now we do have the option to go back to morphology from the Grammar, except in the case in which we don't have any morphology result as for Cupidinesque

[2019-06-20 15:00] balmas opened #631 "usage examples: source link cleanup"
Two requests:

1. When we display the usage examples source link, let's just display the full author and work and not the citation. I don't think we need both.  If we can't translate the citation into full author and work for some reason we could fall back to the citation, but otherwise the full data should suffice. E.g. if we get `Apul.Fl.18.37` as the value of the `cit` field in the service resp

[2019-06-20 15:02] irina060981 commented on #621
merged and closed

[2019-06-20 15:04] monzug commented on #595
verified in build 3.0.0.41 and text env

[2019-06-20 15:13] balmas commented on #314
embed-lib 1.0.0.24 webextension 3.0.0.41

[2019-06-20 15:20] balmas commented on #583
need to think about other design options here.  Coming up blank for the moment.  Maybe when the screen is below a certain size we show a single menu-like icon on each item and offer delete, show contexts and mark as important from there?

[2019-06-20 15:27] balmas commented on #573
ok, back to @irina060981 to see if she has other ideas about the scrolling

[2019-06-20 15:29] balmas opened #632 "usage examples: replace clear limits/clear sort icon,"
@abrasax requests that we replace the clear filter icon with just links that say "Clear Limits" or "Clear Sort"

[2019-06-20 15:31] balmas opened #633 "overlay toolbar: changes to help icon"
requested by @abrasax

1. Change the help icon to the ? to match what we use in alpheios_nemo_ui
2. Move the help icon to the always visible part of the overlay toolbar (above the tools icon)

[2019-06-20 15:49] balmas commented on #408
ok. marking this done then.  @monzug to test with regressions for #586

[2019-06-20 15:49] #408 closed

[2019-06-20 16:11] monzug commented on #586
I will assign this to @balmas after today's discussion.  I did experience in build 3.0.0.41 that the overlay was not generated after installation. I needed to reload the page to see the floating tools.
see screenshot (both in Chrome and firefox) - as per @balmas suggestion, I did try without other text env tabs open with no luck. then I tried with reset all and restarting the browser and all works

[2019-06-20 16:39] kirlat commented on #586
I'm wondering if this happen because of authentication. I've seen some delays during test that were related to loading an Auth0 lock, or sending some authentication request to Auth0 (although this does not usually happen on initialization).

I can't think of any settings that might prevent an overlay from being shown.

Are there anything unusual in the logs in the browser console (error messages o

[2019-06-20 16:49] balmas commented on #586
I was thinking maybe the Panel on Activate or some other setting was interfering. the fact that it resolved after she did the settings reset seems to confirm that.

[2019-06-20 16:53] #623 closed

[2019-06-20 16:57] monzug commented on #586
why has it started in recent builds then? I haven't changed the way I do install builds in Chrome and firefox or the tabs that are already opened.

[2019-06-20 17:32] balmas commented on #586
my hunch is that some, maybe now obsolete, setting is causing a javscript error that prevents the activation from completing.

[2019-06-20 18:47] balmas opened #634 "remove flexible positioning popup option"
I think the changes to remember the popup position (#468) broke the flexible positioning option for the popup.  If that's set, the shift gets set to 0,0 and it no longer tries to position itself at the location of the click.  I'm tempted to just get rid of that feature because it was difficult to get right which is why it wasn't the default. I think maybe the ability to remember where a user last

[2019-06-21 06:19] irina060981 commented on #632
@balmas, it would be enough place for the fix on desktop
but on mobile - it is not enough
![image](https://user-images.githubusercontent.com/12377640/59901965-359fe580-9440-11e9-8fa9-7da3ec02f8b3.png)

I could place text link on mobile, but it would have really small font.

May be we should make text links for desktop and leave icons for mobile?

[2019-06-21 12:17] monzug opened #635 "User example: on mobile, source links are below the examples"
tested in text env  - User example: on the mobile we have the source links below the example., in text env on Chrome and Firefox, it's the opposite (source links above the examples).
Source links should be above the examples.

[2019-06-21 12:22] balmas commented on #632
I guess the other option is to have the first item in the select lists be selectable and have the same effect as clearing the limit/sort (or as is the case of the sort, resetting it to the default)

[2019-06-21 13:13] monzug commented on #314
tested in Chrome and Firefox build 3.0.0.41 and text env in mobile too.
Now it's required to check the consent check box when signing up with google or just signing up.

[2019-06-21 13:13] #314 closed

[2019-06-21 13:49] monzug commented on #610
looks good.

[2019-06-21 13:52] monzug commented on #611
yes.

[2019-06-21 14:28] monzug commented on #619
OK, I don't mind this new redesign but I believe we cut few steps. Let me explain why.
Click on Show limits. we get the Limit these results by Author and/or Work with the option to select an Author or to select sorting type.  If I select an Author, it shows the results of the search without giving
the possibility to select a textwork or to sort by. In order to do this I have to go back to show lim

[2019-06-21 14:53] monzug commented on #620
I tested #619 first and add a comment about the new design.
if this is the requirement, at least we should change Limit these results by Author and/or Work  into
Limit these results by Author  as I am not able to select the work at this stage. going back to show limits, then we can have limit by author and/or work.

I am still getting 3 results per author.

[2019-06-21 15:09] balmas commented on #620
Confirmed that is still a problem. it might be contributing to the problems with the design.

[2019-06-21 15:14] balmas commented on #619
The limits are hidden by default after each search because they talk up a lot of room and on the mobile it's not immediately clear that any search was done.

[2019-06-21 15:15] balmas commented on #619
I agree it would be nice to be able to select author and work in one step, but this was the workflow that @abrasax requested.

Maybe on the desktop though we shouldn't hide the limits by default and only do that on mobile. What do you think?

[2019-06-21 15:19] balmas commented on #620
Limit these results by Author as I am not able to select the work at this stage.

I agree we should change this text. It should probably just say "Limit to" and I don't think we actually need the radio button anymore, do we?

[2019-06-21 15:19] balmas commented on #619
see also comments in #620

[2019-06-21 15:40] monzug commented on #620
let me think about it.

On Fri, Jun 21, 2019 at 11:19 AM Bridget Almas <notifications@github.com>
wrote:

[2019-06-21 19:27] balmas commented on #624
uiType is obsolete now

considering whether popup-position should be as well (see #634 )

[2019-06-22 17:21] monzug commented on #634
agree

[2019-06-23 12:47] monzug commented on #620
click on show limits:
1) remove radio button
2) limit these results by Author  (remove and/or Work)
3) sort by Author - it's not necessary as it's in alphabetical order, right?
when author is selected, then we can show Limit the results by Author and/or work (not sure about the sorting here as we displays only 3 per authors)

what do you think?

[2019-06-24 03:08] irina060981 commented on #620
It is not clear for me quite.
We have 3 results per author, because when we limit results to author/textwork , we simply filter that result that we got without limits from concordance source.
Because we removed (hide) the variant to request more results from the source.

[2019-06-24 07:23] monzug commented on #620
Irina, you are right.  if I change the limit to 9, then I get 9 results. I thought I got what the problem was but now I am confused... @balmas?
Anyhow, looking at this, I found out something else that is not quite right. When I change the limit to 9 or 10 or 11, the authors list is populated by different authors.
to repro:
go to Cicero and double click on patres. (https://texts-test.alpheios.net/t

[2019-06-24 07:38] irina060981 commented on #267
@balmas and @kirlat ,
For now the message `Lexical query produced no result` disappears very quickly
![image](https://user-images.githubusercontent.com/12377640/60000101-dd1e5180-96a6-11e9-8e39-f143cc3c26ff.png)

may be we should save it in the popup/panel?

[2019-06-24 09:24] irina060981 commented on #620
Interesting catch, @monzug :)
I  checked it and was able to reproduce this "bug" - it is from concordance algorithm
I will describe.

The option `Word Usage Examples - max results per author` is used to construct url to concordance and that's all.
you could see it in network tab.

Let's go by your steps:
for example first lookup `patres` and open Examples
it executes this url and gets results (aut

[2019-06-24 09:38] irina060981 commented on #267
Merged and closed

[2019-06-24 09:47] kirlat commented on #267
I agree with you. I was thinking about it myself. Right now we show a word with no data about it whatsoever. I think it would be beneficial to explain why there is no data there.

[2019-06-24 10:04] monzug commented on #620
Thanks for looking into it. interesting scenario: not only we don't get the same authors list but it's not in alphabetical order either.

[2019-06-24 11:09] irina060981 commented on #620
@monzug , what do you mean here?

It is sorted by Author+Textwork by default (not cit)
as I could see it is in alphabetical order
![image](https://user-images.githubusercontent.com/12377640/60014402-495b7e00-96c4-11e9-83c6-b868ba3c82e6.png)

[2019-06-24 11:12] monzug commented on #620
the author list in the dropdown

On Mon, Jun 24, 2019 at 7:09 AM Sklyarova Irina <notifications@github.com>
wrote:

[2019-06-24 11:16] irina060981 commented on #620
Strange, I couldn't reproduce it.
My steps:
1. lookup 'patres`  - alphabetical
2. change setting to 9 and lookup 'patres`  - again alphabetical
3. change setting to 3 and lookup 'patres`  - again alphabetical (but no Floral)

Could you show me the steps and screenshot not-alphabetical authors?

[2019-06-24 11:49] balmas commented on #267
we have a couple of issues for that #501 #502 that I pushed out of the release. If we have time we can address them.

[2019-06-24 11:52] irina060981 commented on #480
On desktop it would be this way

![image](https://user-images.githubusercontent.com/12377640/60016645-246a0980-96ca-11e9-9abd-cb64bdbea3cb.png)

![image](https://user-images.githubusercontent.com/12377640/60016660-2fbd3500-96ca-11e9-980d-5ec3a897a710.png)

On mobile

![image](https://user-images.githubusercontent.com/12377640/60016690-3fd51480-96ca-11e9-8df7-d4b5717ebb3e.png)

![image](https://use

[2019-06-24 11:55] balmas commented on #620
(just a note, the author list in the drop down is going to be improved with the next build,  which has the fix for alpheios-project/client-adapters#18) . It won't change anything here but might be easier to use.

[2019-06-24 11:57] balmas commented on #620
question, are we hitting the max results limit and that's why the service is outputting different authors?

[2019-06-24 12:00] irina060981 commented on #620
no, we change only one parameter authmax
https://latin.packhum.org/rst/concordance/patres?authmax=3&max=10000000
https://latin.packhum.org/rst/concordance/patres?authmax=9&max=10000000
https://latin.packhum.org/rst/concordance/patres?authmax=3&max=10000000

As I could see that it changes the order of result for each request, it seems to me that there is no sorting order. May be it is a reason?

[2019-06-24 12:26] monzug commented on #620
here is a sample of authors list not in alphabetical order in dropdown
![IMG_3640](https://user-images.githubusercontent.com/41396793/60018609-d0bfd780-9659-11e9-9330-24bdbbc79de2.PNG)

[2019-06-24 14:02] balmas commented on #620
I understand a little bit more of what's going on here. We have mixed concepts -- limiting current results, and getting more results. I will try to clean this up...

[2019-06-24 14:02] balmas commented on #620
... meaning clean up the requirements :-)

[2019-06-24 14:04] monzug commented on #620
please, I am really confused right now. I did also check the Phi site for
some enlightenment!!!!

On Mon, Jun 24, 2019 at 10:02 AM Bridget Almas <notifications@github.com>
wrote:

[2019-06-24 14:22] monzug opened #639 "Firefox: loading issue and empty diagram"
see also issue #537
go to https://texts-test.alpheios.net/text/urn:cts:greekLit:tlg0012.tlg002.alpheios-text-grc1/passage/1.1-1.30 and double click on ἔννεπε. it takes for ever to load the morphological information. Click on Diagram, no diagram is generated. Sometimes I do also get the yellow message on top or the page freezes and I need to reload.
see screenshots
![empty-diagram](https://user-ima

[2019-06-24 18:32] balmas commented on #620
Ok, I think there are both bugs and unclear requirements here.

Here's what I think is the workflow @abrasax was requesting:

![usageexamples](https://user-images.githubusercontent.com/644870/60042912-da166780-968c-11e9-97a5-307d42e0bc62.png)

[2019-06-24 18:35] balmas commented on #620
what I think we lose here is the ability to request more results for a specific author/work combination, but the UI for that just seems more complicated than it is worth to me.  So let's try to see if we can get this workflow working for now.

@irina060981 I think one problem is the use of a watch for the selectedAuthor and selectedWork -- that was issuing multiple searches because as soon as a se

[2019-06-25 04:09] irina060981 commented on #480
Merged and closed

[2019-06-25 04:09] #480 closed

[2019-06-25 09:29] irina060981 commented on #613
I suggest to do this way - to add an icon - return to index like this
![image](https://user-images.githubusercontent.com/12377640/60086669-dcf18500-977e-11e9-9626-30b1a4e60f4a.png)

Because we have such situations:
1.
  - lookup a word
  - click on a grammar feature
  - opened grammar tab with data from grammar

if we connect refresh process to grammar tab, then it could be unpredictable for user

[2019-06-25 11:21] irina060981 commented on #618
It would be this way
![image](https://user-images.githubusercontent.com/12377640/60094370-2ea20b80-978f-11e9-80a6-9fa126ae3906.png)

[2019-06-25 12:28] irina060981 commented on #613
merged and closed

[2019-06-25 12:31] irina060981 commented on #631
the second point is solved in data-models repo - https://github.com/alpheios-project/data-models/pull/81

[2019-06-25 12:40] irina060981 commented on #618
merged and closed

[2019-06-25 12:46] irina060981 commented on #631
the first in - https://github.com/alpheios-project/components/pull/642

Here it is a final result
![image](https://user-images.githubusercontent.com/12377640/60099434-f30d3e80-979a-11e9-8087-e748d51c682c.png)

[2019-06-25 12:54] irina060981 commented on #635
Source links should be above the examples.

It was made by previous requirements, that's why we have it both in layout (before and after).
I am not against to place it always above, of course.

But I would like to notice it and re-check this new requirement :)
@balmas and @monzug , I should remove source link below the example on mobile, it should be always above - on desktop and mobile. Am I righ

[2019-06-25 12:55] balmas commented on #620
Additional refinements under discussion so let's hold off on implementing until then

[2019-06-25 13:01] monzug commented on #635
I didn't know there was a requirement to be below on mobile. I looked on old posts and issues, as you said I could not find much info. I tend to rely on @balmas, she knows and remembers everything... but you are right, there should be a way to keep track of changes.

[2019-06-25 18:36] balmas commented on #635
I don't remember EVERYTHING ;-) For example, I have no memory in this case of whether it was supposed to be above or below.  I don't know if it matters too much one way or another but maybe if there was a discussion about it, it was before we had the option to hide the source links?

I agree we could be better about tagging of issues, but no system is foolproof either.

[2019-06-25 19:06] monzug commented on #635
you DO remember almost everything

[2019-06-25 19:11] monzug commented on #635
anyhow, as we want to be consistent, there shouldn't be much difference between mobile and desktop

[2019-06-25 20:47] balmas commented on #620
ok, @abrasax and I discussed this today and decided that we need to simplify things further.  We would like to drop the option to Limit current results and rename (again, sorry) the option to request more results for an author/work to "Author Focus" and "Work Focus". The revised workflow, which hopefully makes this clearer is as follows:

![Gliffy-Viewer](https://user-images.githubusercontent.com/

[2019-06-25 20:51] balmas commented on #620
A few important changes to note:

1) we would like to increase the default authmax setting from 500 to 5000
2) when we offer the Work Focus, we want to offer ALL works for an Author, not just those that were in the prior results (since some might have been left out due to the max results setting)
3) when we request more results for a Work (aka Work Focus) the default sort should be by preceding wo

[2019-06-25 20:53] balmas commented on #635
agree -- let's just move them above.

[2019-06-26 10:29] irina060981 commented on #635
Ok - suggest to make it this way
![image](https://user-images.githubusercontent.com/12377640/60172904-01b62d00-9851-11e9-9a9b-bf44c0c7c613.png)

May be it would be easier to scroll with it?
I have tested on my Iphone - scrolling is ok!

[2019-06-26 11:18] irina060981 commented on #620
Great, I have missed this !

[2019-06-26 11:51] balmas commented on #613
in qa-3.0.0.42

[2019-06-26 11:51] irina060981 commented on #620
Some questions about the workflow:
1. we have a condition - examples Already Retrieved , but for now it is always retrieved (we retrieve examples on tab open) - so by this workflow - I should switch off auto recieving data on tab open or not?

2.When we have this choice
   - Clear Author Focus
   - Focus on Work (with Select List of all OTHER works for Author)
   - Sort by following
    Should it

[2019-06-26 11:51] balmas commented on #618
in qa-3.0.0.42

[2019-06-26 11:53] balmas commented on #621
in in qa-3.0.0.42 but probably should wait until #632 is done to test because it's all getting changed

[2019-06-26 12:09] monzug commented on #623
I think this is the same as alpheios_nemo_ui/issues/199 - will mark the other one as dup.

[2019-06-26 12:19] balmas commented on #620
What I was trying to show there was the possible condition of the usage examples tab being __reopened__ after the initial open. Does that make sense? I want the auto receiving of tab on open to stay the same as before but we don't need to do it more than per word lookup, correct?

[2019-06-26 12:20] balmas commented on #620
Clear Author Focus
Focus on Work (with Select List of all OTHER works for Author)
Sort by following
Should it be 3 radio-buttons ?

I don't think we need radio buttons at all anymore.  There aren't any either/or choices.

[2019-06-26 12:22] balmas commented on #620
So, for example, I was envisioning that in the above scenario we would see

text:Current Author button or link: Clear
Work select list
Sort as it currently is

[2019-06-26 12:23] irina060981 commented on #632
I suggest to do it this way

**when the author/textwork is not selected** - Select an Author
![image](https://user-images.githubusercontent.com/12377640/60179369-e6ebb480-9860-11e9-9e6a-47decdf34e3e.png)

**when the author/textwork is selected** - Clear the filter
![image](https://user-images.githubusercontent.com/12377640/60179438-02ef5600-9861-11e9-8735-4c5b72550fde.png)

[2019-06-26 13:06] monzug commented on #613
two comments here:
1) can we change the home icon to a back arrow?
2) can we remove the back to index icon when I ma in index page?

[2019-06-26 13:24] irina060981 commented on #613
It is not really an easy task
because we don't have states for the url

There are  two workflows:
**the first**
   - on  lookup a word we define the language and request grammar for this language
   - after that we have grammar index on the tab
   - then the user could click links and go to other parts - but the link of iframe is not changing
    so it is not really easy to track - that the user i

[2019-06-26 13:30] irina060981 commented on #635
merged and closed

[2019-06-26 13:30] #635 closed

[2019-06-26 13:37] monzug commented on #618
looks good. Just a note on tooltips:
in pop-up, we have "Show examples usages of this word" in panel it's "Word Usage Examples"
Show Definitions   vs  Definitions
Show Inflection  vs  Inflections

[2019-06-26 13:41] irina060981 commented on #618
It is because we use different translations  for panel and popup buttons :)
may be we should use the same translations for tooltips for panel and popup buttons?

[2019-06-26 13:45] monzug commented on #613
I see.  same as why we can't go back to index.
as per icon, can we change to a back arrow?

On Wed, Jun 26, 2019 at 9:24 AM Sklyarova Irina <notifications@github.com>
wrote:

[2019-06-26 13:47] irina060981 commented on #613
yes, I could!
Why I placed home icon - because I started from the second scenario
when I first open the grammar for the feature from popup
and I thought about back icon, but in this case - back icon could be not very clear

but if you think that back icon is better - I will change of course

[2019-06-26 14:02] monzug commented on #621
Select sorting type has been introduced because on iPhone xr the first word on the drop-down is not selectable. by adding this sentence, the author or work can be selected. see https://github.com/alpheios-project/components/issues/539

[2019-06-26 14:06] monzug commented on #613
I think so. if you don't mind, let's give a try

[2019-06-26 15:35] balmas commented on #621
oh, that's a good point. We can keep the sentence then.

[2019-06-26 15:39] balmas commented on #621
Actually clarifying ... was the problem with the iphone xr that the first item was disabled, but wasn't being grayed out? I think that might not be an issue now, because in this case the first item should actually be selectable, because it is the default.

I.e. if the select box contains

- Author+work
- Preceding word
- Following word

Any one of theses is a valid option. When first displayed, th

[2019-06-26 15:42] balmas commented on #618
Yes, I think we should. Please do this. I think the current text of the popup tooltips are the better so let's use those.

[2019-06-26 16:37] balmas commented on #580
On my Galaxy 7, which is supposedly 360px wide, I don't get the treebank and inflection tables icons in portrait mode but I think I should. Switching the media-query to max-width:359px fixes it, so we need to either use min-width here to show or set max-width to 1 px lower than what our minimum is.

[2019-06-26 19:45] balmas commented on #607
@kirlat this is next priority after alpheios-project/node-build#16

[2019-06-27 06:14] irina060981 commented on #613
would be this way
![Uploading image.png…]()

[2019-06-27 06:58] irina060981 commented on #580
Fixed - would be this
![image](https://user-images.githubusercontent.com/12377640/60243981-cec97300-98fc-11e9-8578-bbc273f77b01.png)

[2019-06-27 10:21] monzug commented on #580
neither on my Samsung 5s mini: Inflection & diagram are missing

On Thu, Jun 27, 2019 at 2:58 AM Sklyarova Irina <notifications@github.com>
wrote:

[2019-06-27 12:27] irina060981 commented on #618
merged and closed

[2019-06-27 12:27] #618 closed

[2019-06-27 12:27] irina060981 commented on #613
merged and closed

[2019-06-27 12:27] irina060981 commented on #580
merged and closed

[2019-06-27 12:27] #580 closed

[2019-06-27 13:21] balmas commented on #631
as per discussion in alpheios-project/data-models#81 can we display the title in italics?

e.g.

Cicero, Marcus Tullius _ad Familares_ 8.4.3.1

[2019-06-27 13:28] monzug commented on #621
yes, the problem was that the first item was not selectable, I had to
scroll to the next one and back to the first to be able to select it.

On Wed, Jun 26, 2019 at 11:39 AM Bridget Almas <notifications@github.com>
wrote:

[2019-06-27 14:16] monzug commented on #408
performance has improved, need more time for testing

[2019-06-27 16:55] balmas commented on #623
embed-lib 1.0.0.25

[2019-06-27 16:56] balmas commented on #635
embed-lib 1.0.0.25

[2019-06-27 17:04] balmas commented on #618
embed-lib 1.0.0.25 / webext 3.0.0.43
(@monzug note that I decided to start using tags instead of branches for the QA builds, as it is more appropriate. You can find them in the same url (e.g. https://github.com/alpheios-project/webextension/tree/qa-3.0.0.43/dist) , but if you use the dropdown to locate, it's under the tags tab)

[2019-06-27 17:05] balmas commented on #613
embed-lib 1.0.0.25/webext qa-3.0.0.43

[2019-06-28 10:57] irina060981 commented on #620
So I have got the following:
1. Request on opening the tab
![image](https://user-images.githubusercontent.com/12377640/60336580-1545cd00-99e4-11e9-9ed6-2b80d968edde.png)

I have added a progress text, because it spends some time for getting data - and sometimes it is difficult to understand what is going here.

2. Got data without author/textWork limits

[2019-06-28 11:47] irina060981 commented on #631
Would be this way
![image](https://user-images.githubusercontent.com/12377640/60340209-4deaa400-99ee-11e9-83b8-1ec26385895b.png)

[2019-06-28 11:59] irina060981 commented on #632
@monzug, I have checked on my Iphone, the first item in all selection as available.
Hope, it would be available on your IPhone too.
Anyway - waiting for your testing it .

[2019-07-01 12:31] irina060981 commented on #620
Merged and closed

[2019-07-01 12:31] irina060981 commented on #632
Merged and closed

[2019-07-01 12:31] irina060981 commented on #631
Merged and closed

[2019-07-01 12:37] irina060981 commented on #614
I took icon from alpheios-nemo-ui

Would be this way
![image](https://user-images.githubusercontent.com/12377640/60437000-ae791b80-9c50-11e9-8d47-f44752c7eef9.png)

and this
![image](https://user-images.githubusercontent.com/12377640/60437019-b933b080-9c50-11e9-90bb-df37e40f7a6b.png)

[2019-07-01 13:14] irina060981 commented on #614
Merged and closed

[2019-07-01 13:14] #614 closed

[2019-07-01 13:16] irina060981 commented on #609
It starts to look a little strange :)
(all of them are 22px, but because of shape they are not looked the same)

![image](https://user-images.githubusercontent.com/12377640/60439070-6ad4e080-9c55-11e9-9c56-fd09da44ec81.png)

![image](https://user-images.githubusercontent.com/12377640/60439366-141bd680-9c56-11e9-8176-f980b63fabca.png)

![image](https://user-images.githubusercontent.com/12377640/604

[2019-07-01 13:40] irina060981 commented on #609
merged and closed

[2019-07-01 13:44] balmas commented on #387
@irina060981 this might be a good one to do before vacation. I think there is a documentation component too -- documenting how to add a stylesheet which redefines the Alpheios CSS variables to a page which uses the embed-lib. What do you think?

[2019-07-01 13:47] balmas opened #653 "wordlist: sort by target word (ascending and descending)"
We need to add a UI element to all the user to sort their wordlist alphabetically (ascending or descending). sort should ignore case.

[2019-07-01 13:57] monzug commented on #613
back icon is there. Thanks.

I noticed that the link to grammar from morphology are different in desktop versus mobile.
e.g.  collaudatur  in https://texts-beta.alpheios.net/text/urn:cts:latinLit:phi0448.phi002.perseus-lat2/passage/1.1.1-1.1.4
click on 1st conjugation from morphology. in desktop it will take the user to the FIRST (OR Ā-) CONJUGATION of the Grammar
on mobile, it will stay in Part I

[2019-07-01 14:04] monzug commented on #635
thanks for moving the links above the examples. scrolling is still not good though....

[2019-07-01 14:10] balmas commented on #613
hmm, that's interesting. On the Galaxy 7 it does first go to Inflections and then, after a moment, to First Conjugation.  Surprised that this would behave differently on the iPhone because it's just standard link hash reference.  Are you sure it doesn't go to the section after first loading the page?

[2019-07-01 14:10] monzug commented on #618
verified

[2019-07-01 14:33] monzug commented on #613
I waited for a bit but didn't go anywhere.

[2019-07-01 14:34] balmas commented on #613
ok. converting to a new issue. Will investigate.

[2019-07-01 14:34] balmas opened #655 "grammar link to target within page not working on iPhone XR"
I noticed that the link to grammar from morphology are different in desktop versus mobile.
e.g.  collaudatur  in https://texts-beta.alpheios.net/text/urn:cts:latinLit:phi0448.phi002.perseus-lat2/passage/1.1.1-1.1.4
click on 1st conjugation from morphology. in desktop it will take the user to the FIRST (OR Ā-) CONJUGATION of the Grammar
on mobile, it will stay in Part II, Inflections without taking

[2019-07-01 14:35] balmas commented on #655
additional notes

from @balmas

and @monzug

[2019-07-01 14:36] balmas commented on #613
entered as #655
can we close this one?

[2019-07-01 14:36] balmas commented on #655
@irina060981 can you reproduce this on your iPhone?

[2019-07-01 14:46] #613 closed

[2019-07-01 14:53] monzug commented on #621
author+work is selectable on iPhone xr

[2019-07-01 14:53] #621 closed

[2019-07-02 08:24] irina060981 commented on #621
I really happy with this fact!!!!!

[2019-07-02 08:42] irina060981 commented on #655
I have checked it on desktop-Chrome, Mac-Safari, Samsung A5 - Chrome - woprks like a charm.

Tried on IPhone Safari and Chrome - it reproduces the same problem  - the link from morphology goes only to the Part 's header
It is really IPhone specific behaviour «like»

[2019-07-02 08:46] irina060981 commented on #655
Here it is a discussion about the similiar problem

https://premium.wpmudev.org/forums/topic/anchors-inside-the-iframe-are-not-working-on-ios

[2019-07-02 10:43] irina060981 commented on #655
I have an idea - what is happening on IOS here with iframe.
If you look carefully on the current url link following steps - you will see:
   - it opens the grammar tab
   - load url withouit hash to iframe
      it adapts to the width and has a little horizontal scrolling
   - it scrolls vertically to hashtag

There is a well-known old IOS bug:
[code]
here it is a discussion - https://floatboxjs.c

[2019-07-02 12:05] balmas commented on #655
ok. It sounds like this would likely require a redesign of the grammar functionality, to pull it out of the iframe, which I want to do, but not for this release. it is issue #204.  Will reference this problem there and close this issue.

Thanks for investigating @irina060981 :-)

[2019-07-02 12:05] #655 closed

[2019-07-02 12:05] balmas commented on #204
see also the problem described in #655

[2019-07-02 12:50] balmas commented on #623
oh .. just realized we needed to fix alpheios-project/client-adapters#7 to test this because we are now under https.  will be ready with the next build.

[2019-07-02 12:56] monzug commented on #623
I think I added a comment with the iPhone issue: the top navigation is missing from the diagram

[2019-07-02 13:02] balmas commented on #623
I am struggling to find that issue

[2019-07-02 13:07] monzug commented on #623
I just added a comment here but it's gone. on iPhone xr, the pop-up is ok while loading the diagram, when loaded the top navigation is gone (no scrolling arrows or credits)

[2019-07-02 13:53] irina060981 commented on #653
Would look like this
![image](https://user-images.githubusercontent.com/12377640/60518198-61667980-9d24-11e9-8fc7-2a75ef4b4298.png)

![image](https://user-images.githubusercontent.com/12377640/60518268-83f89280-9d24-11e9-8b42-2be371c5bf1f.png)

[2019-07-02 13:59] irina060981 commented on #653
the space between icons - because they are 22px with clickable padding.
And I tested it on mobile - it is not good to make it closer - becaus ethey are smalll.

[2019-07-02 14:17] monzug opened #657 "Firtst double click, the noun inflection is not loaded"
double click on commodis from https://texts-test.alpheios.net/text/urn:cts:latinLit:phi0474.phi004.perseus-lat2/passage/1-5

then go to inflection, it does not show the table for the noun as it says not existing yet. switch to the adjective table and then back to noun, it works.

if I lookup for commodis, the table is generated. any subsequent double click (including on commodis) works fine. reloa

[2019-07-02 14:36] monzug commented on #657
also periculum on iPhone XR (Safari)

[2019-07-02 20:46] balmas commented on #632
note from @monzug although this might not be in latest build "select an author on usage examples, the scrolling arrows in the drop down are way too big for the dropdown"

[2019-07-03 01:52] irina060981 commented on #653
merged and closed

[2019-07-03 08:03] irina060981 commented on #387
I took a real site
http://www.nationalarchives.gov.uk

created a static copy of the home page - http://alpheios-test-skin.irina-sklyarova.ru/
and tried to skinnify - and it is not as easy as I expected, because:
Variables work well, but there is no consistent branding logic for collor.

for example, We could see on this site that it is worth to use the following colors:
   for headers and toolbar

[2019-07-03 08:08] irina060981 commented on #387
And changing variables don't work inside Safari (on Mac)
I opened the same url - http://alpheios-test-skin.irina-sklyarova.ru/
and it sees the variables - but doesn't change the color.
@kirlat, did you test thios process on Safari? what I am doing wrong here?

[2019-07-03 11:32] balmas commented on #387
that's strange. it does work for me on Safari.
![Screenshot 2019-07-03 07 30 39](https://user-images.githubusercontent.com/644870/60588311-a0b4ba80-9d64-11e9-8ee4-f7bdb08818db.png)

[2019-07-03 11:32] balmas commented on #387
I think this is a very good idea.

[2019-07-03 11:34] irina060981 commented on #387
this is really strange!

[2019-07-03 11:36] balmas commented on #387
what version of Safari are you running? I haven't updated in awhile so I might be behind. I have 12.0 (14606.1.36.1.19)

[2019-07-03 11:40] irina060981 commented on #387
On Mac - where there is a bug with variables - Version 12.1.1 (13607.2.6.1.2)
But on my iPhone on Safari it works well

[2019-07-03 11:46] balmas commented on #387
So it's a known bug?

[2019-07-03 11:47] irina060981 commented on #387
I am not familiar with variables - it is a new technique - will try to find some information

[2019-07-03 11:47] balmas commented on #387
ok, I'm updating my mac now so that I can test if it still works for me in the later version of Safari.

[2019-07-03 11:51] irina060981 commented on #387
According to this - it should work https://developer.mozilla.org/ru/docs/Web/CSS/Using_CSS_custom_properties

and it works for initial values of variables

but may be there are some stranges with inheritance and priority
because it is not quitely known - how it uses for priorities (Safari could have another algorithm)

[2019-07-03 12:04] irina060981 commented on #387
@balmas, I was able to fix it! I have moved my new vars to `body` instead of `html`.
And now it works well on my Mac :)

[2019-07-03 12:05] balmas commented on #387
yay!

[2019-07-03 12:14] balmas commented on #653
webextension qa-3.0.0.44/embed-lib 1.0.0.26

[2019-07-03 12:15] balmas commented on #634
webextension qa-3.0.0.44/embed-lib 1.0.0.26

[2019-07-03 12:15] balmas commented on #632
please test in webextension qa-3.0.0.44/embed-lib 1.0.0.26

[2019-07-03 12:24] balmas opened #658 "treebank navigation issues on iPhone xr"
on iPhone xr, the pop-up is ok while loading the diagram, when loaded the top navigation is gone (no scrolling arrows or credits)

_Originally posted by @monzug in https://github.com/alpheios-project/components/issues/623#issuecomment-507668720_

[2019-07-03 12:25] balmas commented on #623
ok, I have moved that to a new issue. I think this one is okay now.

[2019-07-03 12:26] balmas commented on #631
embed-lib 1.0.0.26/webextension qa-3.0.0.44

[2019-07-03 12:26] kirlat commented on #387
Sorry for being late into discussion, but the idea was to use `:root` pseudo-element for the variables within skins (https://developer.mozilla.org/en-US/docs/Web/CSS/:root). Default skin color vars are defined for `html` element. `:root` is pretty much the same, but with a higher priority. So defining vars for `:root` should override whatever is defined for `html`.
`body` works too, but with defin

[2019-07-03 12:37] kirlat commented on #387
I think this is a good approach. Just redefining the brand colors, I believe, is not enough because it has to be more granular than that. The use of some color may require contrast color in some adjacent places but smoother colors in the others. So what was one color in our style guide may become two or three colors in some custom theme. Because of this, assigning a variable to each element that w

[2019-07-03 12:39] balmas commented on #620
in embed-lib 1.0.0.26/webextension qa-3.0.0.44

[2019-07-03 13:28] irina060981 commented on #387
For now I am going to create/fix two layers of variables:

1 layer - will be united by the same color in our design + by the sense of layout
    (for example `--alpheios-toolbar-bg-color`) that would be used through different parts of the application

2 layer - variables for each customizable part - for example
   `--alpheios-desktop-toolbar-bg`
   `--alpheios-desktop-popup-header-bg`
   `--alphei

[2019-07-03 14:11] monzug commented on #632
looks good now.

[2019-07-03 14:54] monzug commented on #632
not sure if this is the right spot but can we add an extra space between the authors drop-down and Focus on Work? only on iPhone xr
![IMG_3665](https://user-images.githubusercontent.com/41396793/60601469-2b56e300-9d80-11e9-8f08-ebe1635dc5f0.PNG)

if we remove the Clear icon in here, shall we remove it also from the user word list? just a thought...

[2019-07-03 15:20] monzug commented on #620
I am confused on the new redesign. I will plan to spend sometimes to digest it. however I want to ask why we want to show all works for an author even if there are no entries for the search word. I saw your comment: when we offer the Work Focus, we want to offer ALL works for an Author, not just those that were in the prior results (since some might have been left out due to the max results settin

[2019-07-03 15:54] balmas commented on #620
It's a bit of a compromise, needed because we don't have the ability to change how the server works.

the server does not support pagination and we have to set a maximum number of results to be retrieved.

So we can't really know when we do a search for an author if we are getting all results across all author works or not. We just get the results up until the max is hit.

If we make the max ridic

[2019-07-03 17:04] balmas commented on #609
the space around the icons in the popup is not clickable. the @click handler needs to be moved I think.

[2019-07-03 18:36] balmas opened #659 "font size setting isn't taken into account until it changes"
I think we don't do anything with the fontSize setting until the user changes it. We should take it into account when we first read it too

[2019-07-03 18:36] balmas commented on #659
assigning to myself to deal with as part of the settings work.

[2019-07-04 00:36] irina060981 commented on #632
![0379D878-DFE2-4A95-A0E2-3C9EB1F19E3B](https://user-images.githubusercontent.com/12377640/60632141-58ba9400-9e47-11e9-982f-c7c04c2d33b4.png)

It is not reproducible on my IPhone 7, May be it has some cache? Because it was such bug before, but I fixed it already.

We could make a simple check

[2019-07-04 14:03] kirlat commented on #657
I've tested it on texts-test.alpheios.net and somehow I cannot reproduce the issue. With a freshly loaded page that was specified in the issue I do see the noun declension inflection table when I double click the words listed in the issue: commodis and rapinis.

![image](https://user-images.githubusercontent.com/18631055/60671716-bf11d780-9e84-11e9-9cbd-a2f2e804d26d.png)

It might be not related b

[2019-07-04 18:06] kirlat commented on #608
Do we need to support an ability for both the lookup and the toolbar's action panel be open at the same time? Action panel right now is a single instance object. If we need to open both the lookup and the toolbar, we'll have to have two instances of an action panel object: one for the lookup and another one for the toolbar. We have to introduce two sets of config object, Vuex store modules, etc.,

[2019-07-05 09:29] kirlat commented on #509
@balmas: We have a `preferredLanguage` prop that allows to specify the default value of the current text's language via the UI. If we set it to the value that is provided during the Alpheios activation, this will allow us to solve the issue without adding too much complexity. The only side effect would be that if the preferred language is shown in the options page, its options value will be change

[2019-07-05 11:21] irina060981 commented on #609
Merged and closed

[2019-07-05 11:45] balmas commented on #632
Probably yes. Will make a new issue. Thanks.

[2019-07-05 11:45] balmas opened #662 "remove clear icons from wordlist filters/sort"
Probably yes. Will make a new issue. Thanks.

_Originally posted by @balmas in https://github.com/alpheios-project/components/issues/632#issuecomment-508732378_

Let's be consistent with the usage examples

[2019-07-05 11:50] balmas commented on #509
hmm. Actually I wonder if we even want to expose that setting to the user when using the embedded library. I don't think we do.

And we wouldn't want changes to it made by the embed-lib to impact what is stored to user preferences for the webextension.

So we might need a separate solution here.

[2019-07-05 11:55] balmas commented on #608
No, I don't think so. Your approach to use a single instance sounds fine.

[2019-07-05 13:36] balmas commented on #632
Per review with @abrasax we would like to make the hide/show focus/sort option available only on Mobile -- on desktop we should always show the focus/sort options.

[2019-07-05 13:37] balmas opened #663 "recommend landscape hint"
requested by @abrasax for the treebank and usage examples panels, perhaps we could add a hint to the user to switch to landscape mode.

Ideally we would switch them automatically, but based upon earlier tests facilitated by @kirlat , this wasn't universally supported across all devices.

[2019-07-05 13:41] kirlat commented on #607
This has been merged into master

[2019-07-05 14:00] kirlat commented on #509
Then I think it's best to create a separate setting for it then. Language settings should probably have the following priority (top items are with a higher priority):
1. A language specified for the selected word;
2. A language specified for parent HTML elements of the selected word;
3. A language set by the embedded library during initialization (a subject of this issue);
4. A language set in use

[2019-07-05 14:10] balmas commented on #509
yes I think so.

Just FYI, I will probably submit a PR today with the changes for #522  so you might want to wait to do this until then.

[2019-07-05 14:13] kirlat commented on #509
Thanks for letting me know, I will work on #608 so far.

[2019-07-06 14:40] kirlat commented on #608
This has been merged into master.

[2019-07-07 01:26] irina060981 commented on #632
@balmas , I have made the fixes for @abrasax review and posted a PR, but I think I won't have time to merge after a review because of vacation - I hope you will merge it :)

[2019-07-08 15:32] balmas commented on #632
Additional feedback from @monzug

[2019-07-08 15:51] monzug commented on #620
here is the author drop-down pic not in alphabetical order. More to come.
![IMG_3692](https://user-images.githubusercontent.com/41396793/60823968-be27c100-a176-11e9-8750-bf94ccacb201.jpg)

[2019-07-08 19:16] balmas commented on #632
Ok @monzug what I came up with was this:

After the initial search, below the searched word, you get a hint that explains that the results are limited to max 3 (or whatever the current setting is) per author and instructs the user to use Focus to see more by author

![AwesomeScreenshot-localhost-8888-demo-auth-html-2019-07-08-14-07-73](https://user-images.githubusercontent.com/644870/60836071-c261

[2019-07-08 19:17] balmas commented on #632
What do you think? those changes will be in the next build.

[2019-07-08 22:39] monzug commented on #632
I think I will like them. Let me try on next build. Thanjs.

Sent from my iPhone

[2019-07-09 11:45] balmas commented on #657
hmm. I can't reproduce either. It's possible it was related to the code-optimization branch -- we should retest when that is merged.

[2019-07-09 12:29] balmas commented on #619
think we can re-close this one. We now only show focus/sort options on mobile.

[2019-07-09 12:29] #619 closed

[2019-07-09 12:30] balmas commented on #586
would like to retest this in the next build, which cleaned up settings load.

[2019-07-09 12:32] balmas commented on #488
this is fully fixed with changes for #522

[2019-07-09 12:32] balmas commented on #479
think we'll live with this the way it is.

[2019-07-09 12:32] #479 closed

[2019-07-09 12:33] balmas commented on #325
we won't be backwards compatible with options before this release, but going forward with changes from #522 versioning of options is now supported.

[2019-07-09 12:33] #325 closed

[2019-07-09 15:20] balmas commented on #488
webextension qa-3.0.0.45/Safari3.0.0.45)/embed-lib 1.0.0.27

Reset All should now take immediate effect.

[2019-07-09 15:21] balmas commented on #609
webextension qa-3.0.0.45/Safari3.0.0.45)/embed-lib 1.0.0.27

[2019-07-09 15:29] balmas commented on #614
webextension qa-3.0.0.45/Safari3.0.0.45)/embed-lib 1.0.0.27

[2019-07-09 15:29] balmas commented on #580
webextension qa-3.0.0.45/Safari3.0.0.45)/embed-lib 1.0.0.27

[2019-07-09 15:30] balmas commented on #480
webextension qa-3.0.0.45/Safari3.0.0.45)/embed-lib 1.0.0.27

[2019-07-09 15:30] balmas commented on #267
webextension qa-3.0.0.45/Safari3.0.0.45)/embed-lib 1.0.0.27

[2019-07-09 15:34] balmas commented on #620
latest design changes per #632 implemented in webextension qa-3.0.0.45/Safari3.0.0.45)/embed-lib 1.0.0.27

If sorting problem can still be reproduced, let's make a new issue for it.

[2019-07-09 15:34] #620 closed

[2019-07-09 15:34] balmas commented on #632
webextension qa-3.0.0.45/Safari3.0.0.45)/embed-lib 1.0.0.27

[2019-07-09 15:34] #632 closed

[2019-07-09 16:48] balmas commented on #522
this is implemented now 3.0.0.45/1.0.0.27

Upon login, settings are reloaded from any stored user settings (and if none exist, then from defaults). Upon logout, settings are reloaded from the last local (for the embed-lib/texts) or browser sync storage (for the webextension).

In that way, any settings stored with the browser are shared settings for any user of the browser and the settings stored

[2019-07-10 12:40] #519 closed

[2019-07-10 15:27] monzug commented on #657
still able to repro on latest build 3.0.0.45 in Chrome
this is in Scaife, double click on a noun, table is not generated, double click on a verb, the inflection table is generated.

see screenshot
![remis](https://user-images.githubusercontent.com/41396793/60981237-f4df1200-a303-11e9-8b6a-cc7e51e653d0.JPG)

if it's something in my environment, what can it be???? so, I usually remove build, clear b

[2019-07-10 16:25] balmas commented on #657
That's very strange. are there any errors in the developer console? (In Chrome, open Tools, Developer Tools and click on the Console tab)

[2019-07-10 16:44] monzug commented on #657
how about firefox browser console?
![error console](https://user-images.githubusercontent.com/41396793/60987730-3970aa80-a310-11e9-8df1-96655f60855f.JPG)

[2019-07-10 17:12] balmas commented on #657
hmm. It looks like you're not using the latest env-embed.js file from the qa-3.0.0.45 tag.  Can you double check? It should be this one: https://github.com/alpheios-project/webextension/blob/qa-3.0.0.45/dist/env-webext.js

[2019-07-10 17:34] monzug commented on #657
that's what I have in my dist directory for qa 3.0.0.45
const auth0Env = {
  AUTH0_DOMAIN: 'alpheios.auth0.com',
  AUTH0_CLIENT_ID: 'iT75HkBHThA4QdFwFoZRofLC41vVyvAt',
  ENDPOINTS: {
    'wordlist' : 'https://userapis.alpheios.net/v1/words',
    'settings' : 'https://settings.alpheios.net/v1/settings'
  },
  AUDIENCE: 'alpheios.net:apis',
  LOGOUT_URL: 'https://alpheios.net/pages/logout'

On Wed,

[2019-07-10 17:40] balmas commented on #657
odd. this error would indicate that it isn't seeing that :
`auth.endpoints.settings` is undefined

although I am not sure it would have any impact on the inflection tables. That error be something that would happen upon login (and would cause problems for you in testing #519) so it's probably not the issue here anyway.

A little stumped...

[2019-07-10 17:54] monzug commented on #657
it has to be my environment though.

On Wed, Jul 10, 2019 at 1:40 PM Bridget Almas <notifications@github.com>
wrote:

[2019-07-10 18:03] balmas commented on #657
Is it only in Firefox now? Or does it happen in Chrome too?

[2019-07-10 18:08] balmas commented on #657
But if you do the same steps in chrome as if what happens?

[2019-07-10 18:08] monzug commented on #657
I found one noun in Chrome:

![hostis-console-chrome](https://user-images.githubusercontent.com/41396793/60993315-35e32080-a31c-11e9-92a3-d118c5adebbd.JPG)

[2019-07-10 18:09] balmas commented on #657
I guess try removing the build completely and reinstalling.

[2019-07-10 18:10] monzug commented on #657
for hostis as in the above screenshot, if I select verb from drop-down and then noun, the inflection is generated

[2019-07-10 18:11] balmas commented on #657
I will do a clean install from the tag dist on my side too to try again to reproduce

[2019-07-10 18:17] monzug commented on #657
I removed building chrome, clean data, reinstall. it worked for few words, then I enter hostis from lookup and got again the noun table not implemented
![again-hostis](https://user-images.githubusercontent.com/41396793/60993951-7abb8700-a31d-11e9-992e-eacff6f09b92.JPG)

[2019-07-10 18:23] balmas commented on #657
ok. I have now reproduced too. Not on the first lookup but the 2nd.

[2019-07-10 18:23] balmas commented on #657
Giving this one back to @kirlat

Something about the state of the inflection tables isn't quite right.

[2019-07-10 18:29] balmas commented on #657
yes, I agree it isn't specific to the 2nd lookup. But somehow the state isn't getting properly set or retained.

[2019-07-10 18:30] monzug opened #672 "mouse over notes not working on scrolled texts"
while testing https://github.com/alpheios-project/alpheios_nemo_ui/issues/47, I come across an issue with notes not being displayed on mouse over.
go to https://texts-test.alpheios.net/text/urn:cts:latinLit:phi0474.phi045.perseus-lat1/passage/1.31-1.35
if you use the browse passage option or the arrows on top nav to browse through pages, mouse over on notes works fine. when I use the scrolling bar

[2019-07-10 19:31] balmas commented on #624
we decided to eliminate popup position too. I think this issue can be closed as obsolete.

[2019-07-10 19:31] #624 closed

[2019-07-10 20:01] balmas opened #673 "rename --alpheios-inflect-browser-title-color to --alpheios-inflect-title-color"
All following items starts with `--alpheios-inflect` prefix before the text describing the location. This one starts with `--alpheios-inflect-browsers`. Maybe it's better to use `--alpheios-inflect` for consistency?

_Originally posted by @kirlat in https://github.com/alpheios-project/documentation/pull/13_

[2019-07-10 20:01] balmas opened #674 "rename --alpheios-inflect-match-cell-border-color to --alpheios-inflect-feat-match-cell-border-color"
Maybe it's better to indicate in a description that this is for cells that has a full feature match (if I remember correctly). Also, maybe it's better to rename it to something like `--alpheios-inflect-feat-match-cell-border-color` to signify that too?

_Originally posted by @kirlat in https://github.com/alpheios-project/documentation/pull/13_

[2019-07-10 21:33] monzug commented on #653
question: how do we sort accent? right now, they go after regular words and sort in alphabetical order

![sorting-greek](https://user-images.githubusercontent.com/41396793/61006662-c9c2e580-a338-11e9-8eb9-2deb31dec193.JPG)

[2019-07-11 12:41] balmas commented on #653
ah, we need to do locale sensitive sorting. Will fix.

[2019-07-11 12:49] monzug commented on #653
I might have few other questions. need to do some more testing

On Thu, Jul 11, 2019 at 8:41 AM Bridget Almas <notifications@github.com>
wrote:

[2019-07-11 14:34] monzug commented on #653
how about numbers? right now, they go to top if ascending is selected or to bottom if descending is selected
![number-order](https://user-images.githubusercontent.com/41396793/61059439-fb828d80-a3c6-11e9-8eee-6d759ebb52da.JPG)

[2019-07-11 14:41] monzug commented on #653
should we apply the ascending/descending also to the limits? right now, if I select a limit (e.g. by this session or by important) and then select descending, it goes back to the complete list of words.

[2019-07-11 15:03] balmas commented on #653
I think that's ok

[2019-07-11 15:03] balmas commented on #653
No, that sounds like a bug. Will investigate.

[2019-07-11 15:37] monzug commented on #614
question: is it ok that the ? icon is highlighted when I activate alpheios?

[2019-07-11 16:05] balmas commented on #614
Hmm. it's probably highlighted because it's the default tab. Do you think it's worth trying to fix?

[2019-07-11 16:23] monzug commented on #614
nope, but it's worth to mention somewhere.

On Thu, Jul 11, 2019 at 12:05 PM Bridget Almas <notifications@github.com>
wrote:

[2019-07-11 16:27] balmas opened #677 "the ? icon is highlighted when I activate alpheios?"
question: is it ok that the ? icon is highlighted when I activate alpheios?

_Originally posted by @monzug in https://github.com/alpheios-project/components/issues/614#issuecomment-510538328_

[2019-07-11 16:28] balmas commented on #614
done. that's now issue #677

[2019-07-11 16:40] balmas opened #678 "provider information missing when homonym is retrieved from wordlist data"
Noted by @monzug while testing #656 :

When we click on a word in the wordlist and the lookup results get populated from the local storage, then we are missing provider information (i.e. credits) in the popup.

I believe this is because we are leaving the provider information out when we serialize the homonym for the wordlist.  We probably ought to include it but since we aren't saving full defini

[2019-07-11 16:41] monzug commented on #609
Is it only for the panel, correct?
I was checking the size of the Read icon, viewBox="0 0 30 27" or  Back to reader icon is viewBox="0 0 20 20".

Definitely, by reducing the size we have now extra space on the compact panel. see Irina's screenshot. I would not recommend to move the icons around but it's not so pretty....

[2019-07-11 16:46] balmas commented on #625
this was fixed by #609

[2019-07-11 16:46] #625 closed

[2019-07-11 16:55] balmas opened #679 "add Auth0 badge to user tab"
Our open source licence agreement with Auth0 requires us to add the Auth0 bad to our interface.

http://auth0.github.io/auth0-oss-badges/

[2019-07-11 17:01] kirlat commented on #657
I was able to reproduce it (hooray!), will work on a fix

[2019-07-11 17:02] balmas commented on #598
after discussion today, @monzug and I have decided that for this release we want exclude words which don't produce lookup results from the wordlist.  It is causing inconsistent behavior when clicking on words in the list and would require some refactoring to make this work well.

[2019-07-11 17:16] balmas opened #680 "use double-click instead of single click to lookup wordlist targetWord"
reported by @monzug

Similar to #526

If you open the wordlist tab and the panel appears over text on the page, a double-click on the the target word will do a lookup on the word in the page below the panel.

We need probably to add the data-alpheios-ignore attribute to the wordlist tab?

[2019-07-11 17:31] balmas commented on #609
It should be everywhere. Passing back to @irina060981 to confirm.

[2019-07-11 17:36] #653 closed

[2019-07-11 18:29] monzug commented on #609
I looked in source view and that's the info I come up with. not sure if
viewbox is the right attribute for icon size

On Thu, Jul 11, 2019 at 1:31 PM Bridget Almas <notifications@github.com>
wrote:

[2019-07-11 19:04] monzug commented on #632
I like it. Thanks for reworking it. Looks good.

[2019-07-11 19:12] monzug commented on #480
looks good to me

[2019-07-11 19:27] monzug opened #681 "usage examples: author drop-down not in alphabetical order"
I was able to reproduce the problem again on latest build 3.0.0.45 in FF
the author drop-down is not in alphabetical order. not easy to repro but it does happen frequently, I would say when I get usage examples for the same word.

see also https://github.com/alpheios-project/components/issues/620

![IMG_3702](https://user-images.githubusercontent.com/41396793/61079191-57154100-a3f0-11e9-99d7-87a95

[2019-07-11 19:29] monzug commented on #620
enter author drop-down issue as #681

[2019-07-11 19:54] monzug commented on #488
after using the Reset all button, the Options panel is missing the style, both in Chrome and FF.
on iPhone xr, I am not able to click on Reset all, it just bounce back up.
see screenshot

![missing-tags](https://user-images.githubusercontent.com/41396793/61080902-0bfd2d00-a3f4-11e9-8cf2-79885a949291.JPG)

[2019-07-11 20:21] monzug commented on #267
I can see the word in the lookup in toolbar when I enter the word from there. same in Help panel.
However I can't see the word in  lookup from Definition panel, even if I entered the word in there. I think we are missing to update the lookup from Definition Panel.

[2019-07-11 20:24] #267 closed

[2019-07-11 20:26] balmas commented on #488
hmm. you're right. I can reproduce but I thought I had fixed that :-( will take it back.

[2019-07-11 20:29] balmas commented on #267
Ok, so we need a new issue for this?

[2019-07-11 20:41] balmas commented on #653
in qa-3.0.0.46 and embed-lib 1.0.0.28 (with components 1.2.2)

[2019-07-11 20:45] balmas commented on #519
in qa-3.0.0.46 and embed-lib 1.0.0.28 (with components 1.2.2)

[2019-07-11 20:57] balmas commented on #586
Let's retest now in qa-3.0.0.46/embed-lib 1.0.0.28 (with components 1.2.2)

[2019-07-11 20:57] #586 closed

[2019-07-11 20:58] balmas commented on #387
we can close this now. the skinning doc is in the embed-lib repo.

[2019-07-11 20:58] #387 closed

[2019-07-15 14:08] kirlat commented on #633
We're already using a question mark in a circle in the desktop version of a toolbar
![image](https://user-images.githubusercontent.com/18631055/61220791-1dae3f80-a728-11e9-9abc-3909b7e207a2.png)
and in the panel
![image](https://user-images.githubusercontent.com/18631055/61221015-96ad9700-a728-11e9-9c8a-836759c299e9.png)
So the only thing that is not done yet, it seems, is to move the hep icon to

[2019-07-17 12:04] kirlat commented on #509
I have a preliminary implementation of this working. However, during testing I discovered that there are many different scenarios of how language information is used in a system. To avoid possible confusion or misunderstanding I decided to put the summary of those rules here. It may also serve as a guideline for testing.

Current language is a prop that stores the default language of text selectio

[2019-07-17 12:24] balmas opened #683 "need to update lookup in Definition Panel"
I can see the word in the lookup in toolbar when I enter the word from there. same in Help panel.
However I can't see the word in  lookup from Definition panel, even if I entered the word in there. I think we are missing to update the lookup from Definition Panel.

_Originally posted by @monzug in https://github.com/alpheios-project/components/issues/267#issuecomment-510639537_

[2019-07-17 14:37] balmas commented on #509
Sorry, I need to diagram in order to make sense of it :-)

So I *think* this is how the decision for which language to use to do a lookup should be decided:

![currentlanguage](https://user-images.githubusercontent.com/644870/61383655-19476b00-a87d-11e9-98ef-92a23aa4720a.png)

[code]

[2019-07-17 14:50] balmas commented on #509
Leaving aside for a minute the question of how to determine what should be the default language selected in the language selector, I think this implies some differences in what you have stated above (and maybe in our current code so it's just for discussion right now)

currentLanguage is a state variable that is used to keep track of the language of the last word looked up so that we can make sure

[2019-07-17 14:52] balmas commented on #509
The only setting that gets stored to user preferences is *preferredLanguage*

[2019-07-17 14:57] kirlat commented on #509
Thanks for the great diagram, I will meditate over it for a while 🙂. I think we shall put a final version of it into the docs.

[2019-07-17 14:57] balmas commented on #509
The default selected value for the language selector when shown next to a lookup box probably needs to be managed by state:

So, assuming a variable *selectedLookupLanguage*, I think the decision tree would be the following:

![selected](https://user-images.githubusercontent.com/644870/61386126-b0aebd00-a881-11e9-911e-18b4965414ec.png)

[code]

and on selection of a language, the state variable fo

[2019-07-17 14:58] balmas commented on #509
let me know if this makes sense and if I have missed anything from your points above.

thanks!

[2019-07-17 15:17] balmas commented on #633
yes, I think that's right. Can we even out the spacing in between the 3 icons there (lookup, help and tools)?

[2019-07-17 15:30] kirlat commented on #633
Yes, definitely. Will start implementing this.

[2019-07-17 15:38] kirlat commented on #509
I think we should expand this part of the first diagram:
![image](https://user-images.githubusercontent.com/18631055/61389654-5423c000-a8ca-11e9-84e4-70684d5fccd2.png)
That's when there is a language selector in the lookup, but the value of that selector is "Default". That's a valid case too.

[2019-07-17 15:52] balmas commented on #509
I am wondering if that is an option we should keep though? It seems like it adds more complexity than is helpful.

[2019-07-17 15:54] kirlat commented on #509
Right now we store the lookupLanguage (the language last selected in the language drop-down of a Lookup component) too, but maybe it's by accident. We use the stored value to initialize the drop-down selector to the last value selected by the user. Shall we stop storing it? If so, to what value shall a language drop-down in the Lookup component be set initially (i.e. when the app is loaded for the

[2019-07-17 15:58] balmas commented on #509
I think we were doing that as a replacement for state. Now that we have the Vuex state it probably makes more sense to store it there.

I was thinking that the initial value should be as in the diagram in https://github.com/alpheios-project/components/issues/509#issuecomment-512292989  .. i.e if textLanguage is set, then that, otherwise preferredLanguage

[2019-07-17 16:06] kirlat commented on #509
It is complex indeed! Right now the role of the "Default" option is to let user not to worry about what language to choose but rely on system preferences instead. It is effectively disables a language selector as if it would not exist. This may make sense in certain scenarios to me and may not in other. If the user will employ a lookup component to query a specific word on a language known to a us

[2019-07-17 16:10] balmas commented on #509
I think this makes less sense now that we offer the quick access to the lookup on the toolbar without the language selector. That is effectively the same as the "default" option was before. Now, the only reason to use the lookup on the panel with the language selector is when the "default" option isn't what the user wants. So I say we should drop it from there and simplify things. Do you agree?

[2019-07-17 17:28] kirlat commented on #509
Yes, that makes sense.

[2019-07-17 17:45] kirlat commented on #509
I remember we were discussing that if the textLanguage is set we will never display a preferredLanguage option on the settings page. But that might change in the future, so we probably better design it now keeping in mind that a user might be able to change the preferredLanguage while textLanguage is used. What will happen with the textLanguage then?

I see two viable options here:
1. Keep things

[2019-07-17 17:55] balmas commented on #509
I think the latter (#2) makes more sense and would be fine for now.

[2019-07-17 20:21] monzug commented on #586
retested in 3.0.0.46. so far so good

[2019-07-17 20:37] monzug opened #685 "iphone xr: Logged in but icon is grayed out"
tested in text env 1.0.0.28, on iPhone xr

I logged in from the Main Menu but the related icon in the tool bar is grayed out. see screenshot

![IMG_3712](https://user-images.githubusercontent.com/41396793/61409853-1b2b2180-a8b1-11e9-8f56-6f580a5827ba.PNG)

[2019-07-18 12:47] irina060981 commented on #609
`viewbox` is an attribute for the source svg - it defines the source propotions.
One of the important difference between SVG and other images formats is that SVG won't always have a clearely defined width, height and aspect ratio.
If we doesn't define width, height and viewbox - the browser will decide what sizes would be used for rendering SVG.

We define inside SVG images only a viewbox - to be

[2019-07-18 12:52] irina060981 commented on #598
of course, i will remove it upon requirements - but such words could produce word usage examples anyway - I have saw such variants.
But I completely agree in the current workflow it is confuxing

[2019-07-18 13:14] monzug commented on #609
absolutely!!!! Thanks.

[2019-07-18 15:43] balmas opened #686 "treebank button on popup broken"
the click handler is on the wrong element.

[2019-07-18 16:03] #686 closed

[2019-07-18 20:51] balmas commented on #422
After thinking about the options, I think I would like for us to proceed with client-side file creation and download, using the HTML5 anchor element with the download attribute and blobUrl as described here https://blog.logrocket.com/programmatic-file-downloads-in-the-browser-9a5186298d5c/

As for file format, let's go with a simple csv output format for now, with one column per property of the se

[2019-07-19 04:39] irina060981 commented on #609
@monzug and @balmas , should I do something else here?

[2019-07-19 06:46] irina060981 commented on #422
I think - it is a good way to go if we choose a client-side.
I have created a simple test page - http://fetch-test.irina-sklyarova.ru/
works well in Chrome, Firefox, Safari,
Chrome (Samsung A5)
on ios Chrome (Iphone 7) - it opens the file content and it could be sent through different applications (I didn't find how to save it locally)

[2019-07-19 11:47] kirlat commented on #422
What a cool tech! Amazing! I did not know we can do it that simple. Thanks for sharing the article!

I vote for this solution with both of my hands 🙂. It should be simple and easy. Download attribute is supported in majority of modern browsers (https://caniuse.com/#feat=download) and Blobs are even more so (https://caniuse.com/#feat=download). I see no technical obstacles in going ahead with it.

[2019-07-19 12:51] balmas commented on #609
I don't think so @irina060981.

[2019-07-19 12:51] #609 closed

[2019-07-19 12:52] balmas commented on #422
thanks both for your feedback. Will assign this one to @irina060981 to implement then.

[2019-07-19 18:18] kirlat commented on #657
A fix has been merged into master as of now

[2019-07-19 19:57] monzug commented on #657
Great! can't wait to test it. Thanks

[2019-07-21 23:40] irina060981 commented on #673
Will fix in `fix-387-skin`

[2019-07-21 23:41] irina060981 commented on #674
no, it is not true - it is not for full match, it is for morphologyMatch

infl-cell--morph-match: cell.morphologyMatch

I will add morphology to description and morph to the variable title

[2019-07-22 11:52] irina060981 commented on #673
Merged and closed

[2019-07-22 11:52] #673 closed

[2019-07-22 11:52] irina060981 commented on #674
Merged and closed

[2019-07-22 11:52] #674 closed

[2019-07-22 13:01] irina060981 commented on #680
I didn't quitely understand, if to be honest.
The wordlist tab has already `data-ignore-all` (and also all other tabs have it too, if have onlt an exception on wordUsgae tab).

But clicking is working here:
  1. if you click on a target word - it would upload the data from the storage
  2. if you click on the lemma - it would filter by it
  3. clicking on the context part doen't work for me

@balm

[2019-07-22 13:44] kirlat commented on #509
Changes has been merged into master and are ready to be tested

[2019-07-22 14:08] balmas commented on #598
I think we need to change the requirements for this issue here, after considering:

1.  the complexity of the code changes necessary for this
2. the need to take into account scenarios such as for Persian, where we might get definitions and no morph data
3. the long term need to include all words the user looks up regardless of whether or not we can parse them

Let's instead continue to add all wo

[2019-07-22 14:47] balmas commented on #680
Hmm. After looking at it again, I think the problem here is actually a different one and exacerbated by our use of a different ui paradigm in the wordlist then elsewhere.

We use a **single** click handler on the words on the wordlist and @monzug is expecting a **double** click to work. And sometimes it does and sometimes it doesn't but when it does work it might be more of an accident than the ru

[2019-07-22 14:55] monzug commented on #680
I just tried it again and as you described so well, it does work also with
double-click accidentally. I would expect double-click because we use it
everywhere else. if we want to keep single click then we should add some
info.

On Mon, Jul 22, 2019 at 10:47 AM Bridget Almas <notifications@github.com>
wrote:

[2019-07-22 15:26] #488 closed

[2019-07-22 15:29] balmas commented on #680
ok, let's switch to double-click. Updating the title of this item to match.

[2019-07-22 15:30] #657 closed

[2019-07-22 17:34] balmas commented on #657
in qa-3.0.0.47/components 1.2.6

[2019-07-22 17:34] balmas commented on #488
in qa-3.0.0.47/components 1.2.6

[2019-07-22 17:38] balmas commented on #686
in qa-3.0.0.47/components 1.2.6

[2019-07-22 18:34] balmas commented on #509
in qa-3.0.0.47/components 1.2.6

[2019-07-22 18:38] balmas commented on #509
although to fully test this, alpheios-project/alpheios_nemo_ui#227

[2019-07-22 20:01] balmas commented on #537
I think this is the exact same issue as in #639 so closing this in favor of that item

[2019-07-22 20:01] #537 closed

[2019-07-22 23:21] irina060981 commented on #662
Merged and closed

[2019-07-22 23:38] irina060981 commented on #598
@balmas , I don't think that it is enough check, because we create homonym for any targetWord, even without morph data.
In this case lemmas list has the only lemma that is equal to the target word
![image](https://user-images.githubusercontent.com/12377640/61672049-7c2d7c00-ad2d-11e9-9d2b-40572754bc40.png)

It could have definitions.
I think we should add some specific flag to homonym to indicate

[2019-07-23 11:55] balmas commented on #598
ah, you're right about that.  the problem is no morph doesn't necessarily mean it doesn't have definitions.
Ultimately, I think I am probably trying to fix the wrong problem here. If issues #502 and #501 were addressed that would probably be sufficient, but I had deemed those out of scope.  Thinking.

[2019-07-23 13:03] balmas commented on #633
per discussion on slack, the order should be help, lookup, tools

[2019-07-23 13:03] irina060981 commented on #680
Merged and closed

[2019-07-23 13:03] #680 closed

[2019-07-23 13:11] irina060981 opened #694 "Add some progress indicator for retrieving data from wordlist on mobile"
@balmas
We have such a small confusion problem on mobile platform.
When we open a wordlist tab on mobile and try to tap a word (it should retrieve homonym, definitions and may be something else from the storage), sometimes it could take some secondsa and sometimes it could be near a minute.
And all this time nothing happens on the screen.

This way if nothing happens on the screen, it could seems

[2019-07-23 14:28] balmas commented on #685
After debugging on the iPhone XR, I believe this is caused by the dynamic imports.

We load the authentication environment into a global variable (serverEnv) via the inclusion of an env.js using a `<script>` tag but it seems that on the IphoneXR at least, the dynamically imported embedded library code doesn't have access to that variable, so it doesn't setup the SessionAuthenticator.

@kirlat what

[2019-07-23 14:38] balmas opened #695 "make filtered lemma unclickable in wordlist"
Noted by @monzug

After clicking on a lemma in the wordlist to filter the list by that lemma, the lemma you are filtered on should no longer be clickable, because it has no effect.

[2019-07-23 15:05] balmas commented on #598
additional notes from debugging with @monzug sometimes we get the PLACEHOLDER_NO_LANGUAGE_DATA message staying in the popup when we click on a word with no morphology from the wordlist (e.g. she can reproduce when double-clicking a title on the Latin Library TOC) . I think this means that the app.morphDataReady state object is never being set. Maybe an error is  short circuiting the code.

[2019-07-23 15:05] balmas commented on #598
(@irina060981 I'm going to take this back for now until I know better what I want us to do here...)

[2019-07-23 15:10] balmas commented on #598
also noting that @monzug was able to get a list of words under the "undeflined" language code. This should not be possible...

[2019-07-23 15:35] balmas commented on #694
@irina060981 does this happen only when it's loading the lexical data from local storage rather than from the lexical query service?

Looking at the code, we do have the progress bar in there, but for some reason we don't seem to be switching to the morphology tab immediately upon click on the wordlist item the way we do when the item requires the full lexical query lookup.  It just stays on the w

[2019-07-23 17:54] balmas commented on #573
I did some debugging of this today on Monica's Iphone XR and it seems that the problem is the`<a>` tags for the source links.  Changing those to `<div>` tags resolved the scrolling problem.

So I think the solution is to remove the `<a>` tags, replace them with `<div>` tags with a click handler which opens the source link in a new tag.

[2019-07-23 18:00] kirlat commented on #685
On my opinion, passing an environment object to the embed-lib would be the best solution. If Embedded class is solely responsible for initializing a controller object, then it would make sense for the Embedded to check and verify that all necessary information is available before proceeding with the UI controller creation. Relying on the presence of the data in some window or global prop is too sh

[2019-07-23 18:05] balmas commented on #658
they are there in landscape mode, that's probably the best we can do. When #663 is fixed there will at least be a hint to the user to try switching to landscape.

[2019-07-23 18:05] #658 closed

[2019-07-23 18:09] kirlat commented on #573
Wow! Who would have guessed that? That's a very useful information. I think we should probably start a list of device/OS quirks somewhere. Weird thing like this could slip our mind later because of time passed and also because of a probably natural tendency to hope for the best even though we are not receiving it that often 🙂 🙁.

[2019-07-23 18:19] balmas commented on #685
Thanks @kirlat . I agree. For the immediate term, I think we should pass the env file to the embed-lib and in the longer term, we should look at having finer-grained control of this by using a server.  I'll proceed with the former change for now.

[2019-07-23 18:21] balmas commented on #573
Good idea.  Will add an iOS label to this issue for now. Post release we should probably take the time to go back and pull together such a list.

[2019-07-23 18:47] balmas commented on #583
ok, looked at this with @monzug today and the icons on the wordlist are looking fine now. Closing this.

[2019-07-23 18:47] #583 closed

[2019-07-23 18:48] monzug commented on #583
looks it's all fixed here

[2019-07-23 18:55] balmas commented on #472
@kirlat just a reminder to take a look at this one too. Thanks!

[2019-07-23 19:09] monzug commented on #580
looks good on my Samsung mini 5

[2019-07-23 21:54] irina060981 commented on #573
@balmas , would you finish with this issue? or should I do the changes?

[2019-07-24 10:08] kirlat commented on #472
Will do the the best I can

[2019-07-24 10:26] irina060981 commented on #694
I was to move not only `this.open` but also `this.newLexicalRequest`
So when it takes too long we could see progress bar.

I have tested on my Samsung and on Iphone.
Unbelievable :), but it works great on Iphone.
On my Samsung - it has a little gap - I tried to track and I think that this small gap is from communication between UIController <-> Vuex <-> Vue-components.
My Iphone has good performan

[2019-07-24 11:45] balmas commented on #573
it would be great if you could do them, @irina060981 . Thank you!

[2019-07-24 11:46] irina060981 commented on #573
ok :)

[2019-07-24 11:57] balmas commented on #694
I agree!

[2019-07-24 11:59] irina060981 commented on #694
Merged and closed

[2019-07-24 15:21] monzug commented on #685
also, the saved wordlist for the user is empty.

[2019-07-24 15:22] monzug commented on #653
all good.

[2019-07-24 15:33] monzug commented on #657
Unable to repro in FF and Chrome. Thanks!!!!!!!!

[2019-07-24 18:18] balmas opened #697 "input boxes should obey text direction"
Yes, I think we should change text direction for input of exact word to rtl for arabic and persian. Actually, we probably should do the same for the lookup box too, right? I will make this a new issue.

_Originally posted by @balmas in https://github.com/alpheios-project/data-models/issues/75#issuecomment-514742697_

[2019-07-24 18:18] balmas commented on #697
I think this affects the input box for exact word limit on the wordlist and the lookup box. The text direction should obey that of the language being entered.

[2019-07-24 18:55] balmas commented on #598
@monzug try as I might, I cannot reproduce the error about page language is not defined. I have not been able to get a double-click on a title on the Latin Library toc to add the text to my wordlist.

Were you able to create a clean account with that error reproduced? If so, can you give me the details so I can see what is happening?

[2019-07-24 19:11] monzug commented on #598
it took me longer than yesterday to be able to repro but I got it again. use the id/psw: latin@test.it  Test@123

see screenshot

![epistulae](https://user-images.githubusercontent.com/41396793/61821472-51beea00-ae25-11e9-92d0-0755047a6d48.JPG)

[2019-07-24 19:18] balmas commented on #598
excellent! That enabled me to find the bug :-)

[2019-07-24 19:20] balmas commented on #598
there are couple of issues here

The code that is failing is this (in uiController.onWordItemSelected):

[code]

It's producing a javascript error on the test of `homonym.lexemes.length` because `homonym.lexemes` isn't defined.

So we should make that test be sure we have lexemes before we test their length.

But we should also figure out in what circumstances a homonym can be saved to the wordlis

[2019-07-24 19:20] monzug commented on #598
thanks for investigating it!

[2019-07-24 19:21] balmas commented on #598
thanks for insisting on it :-D

[2019-07-25 13:32] kirlat commented on #472
The fix for this has been merged into master

[2019-07-25 14:15] monzug commented on #686
looks good.

[2019-07-25 14:34] monzug commented on #519
Login does always appear now. the don't ask button shows up after the 3rd lookup. when selected the prompt for login is disabled.

[2019-07-25 14:44] monzug commented on #631
all in there. looks good

[2019-07-25 14:52] monzug commented on #631
just a small thing about the title. I noticed that sometimes the citation is highlighted instead of the title (and the author is anonymous but there is an author).
if you do a usage example for moris, you'll see that the first authors/book are anonymous. in parenthesis is the title (and authors name I believe) but the cit is highlighted. e.g. Laus Pisonis, Laus Pisonis 1
see screenshot
![title](ht

[2019-07-25 15:42] balmas commented on #256
refactoring of error handling in the client-adapters has made this obsolete.

[2019-07-25 15:42] #256 closed

[2019-07-25 16:48] balmas commented on #694
qa-3.0.0.48/components 1.2.8

[2019-07-25 16:49] balmas commented on #679
qa-3.0.0.48/components 1.2.8

[2019-07-25 16:50] balmas commented on #680
qa-3.0.0.48/components 1.2.8

[2019-07-25 16:51] balmas commented on #662
qa-3.0.0.48/components 1.2.8

[2019-07-25 16:53] balmas commented on #607
Will be tested vi alpheios-project/alpheios_nemo_ui#182

[2019-07-25 16:53] #607 closed

[2019-07-25 16:53] balmas commented on #608
Will be tested vi alpheios-project/alpheios_nemo_ui#182

[2019-07-25 16:53] #608 closed

[2019-07-25 17:47] balmas commented on #631
Ah, this is a bug in the parsing of the response, when the title isn't present.  will open a new issue in client-adapters for it.

[2019-07-25 17:48] balmas opened #700 "handle concordance results without titles"
just a small thing about the title. I noticed that sometimes the citation is highlighted instead of the title (and the author is anonymous but there is an author).
if you do a usage example for moris, you'll see that the first authors/book are anonymous. in parenthesis is the title (and authors name I believe) but the cit is highlighted. e.g. Laus Pisonis, Laus Pisonis 1
see screenshot
![title](ht

[2019-07-25 17:59] #631 closed

[2019-07-26 14:07] balmas commented on #502
added check on an error return from the lexicon service, and passing that back as an error

[2019-07-26 14:07] #502 closed

[2019-07-26 15:16] monzug commented on #679
I can see that in FF.
![ff-autho](https://user-images.githubusercontent.com/41396793/61962112-d715dc00-af96-11e9-98d0-073e01566bf1.JPG)

[2019-07-26 15:26] monzug commented on #679
should it also be on mobile?

[2019-07-26 15:53] monzug opened #703 "issues with use of preferredLanguage and textLanguage in Lookup from toolbar"
when I have default language greek, and I do enter a latin word in lookup, the change language to latin does not take effect, so lookup fails. I have to select Greek and then Latin again from the drop-down in order to work.
see screenshot

![bello-not-latin](https://user-images.githubusercontent.com/41396793/61964432-d29ff200-af9b-11e9-9bc5-4f66e49eb63f.JPG)

[2019-07-26 15:56] balmas commented on #679
it should be on mobile ... I thought it was working but you're right it doesn't seem to be there in the latest build. Will investigate that and also the ff display.

[2019-07-26 16:00] balmas commented on #323
@irina060981 can you take a stab at this to see if you can improve the way the options panel looks? We do now have 3 separate components, one for each type of setting (resource-settings, feature-settings, ui-settings) + the font size (which should be included with ui).

[2019-07-26 16:00] monzug commented on #679
what's wrong with the FF display?

On Fri, Jul 26, 2019 at 11:56 AM Bridget Almas <notifications@github.com>
wrote:

[2019-07-26 16:05] balmas commented on #679
it shouldn't be so smooshed

[2019-07-26 16:13] monzug commented on #679
ah, ok

On Fri, Jul 26, 2019 at 12:05 PM Bridget Almas <notifications@github.com>
wrote:

[2019-07-29 07:28] irina060981 commented on #573
merged and closed

[2019-07-29 07:28] #573 closed

[2019-07-29 07:28] irina060981 commented on #681
Merged and closed

[2019-07-29 07:28] #681 closed

[2019-07-29 11:42] irina060981 commented on #422
merged and closed

[2019-07-29 12:40] irina060981 commented on #695
Merged and closed

[2019-07-29 12:40] #695 closed

[2019-07-29 19:39] monzug commented on #694
Unfortunately my iPhone is so fast that I cannot see the progress bar

[2019-07-29 20:07] monzug commented on #694
on the text environment, go to https://texts-test.alpheios.net/text/urn:cts:latinLit:phi0474.phi007.perseus-lat2/passage/1-5  and add word reprendis to wordlist. then double click on the word from user word list. on FB it takes longer than in Chrome but I didn't see any progress bar been generated., same on web ext. Basically I have to wait for the popup to be generated. I thought we want to add a

[2019-07-29 20:08] balmas commented on #659
well, I didn't get to it so am going to ask @irina060981 to ...

[2019-07-29 20:12] balmas commented on #598
passing this one back to @irina060981 .

Please fix this test in in uiController.onWordItemSelected) to check to be sure homonyms.lexemes is defined before testing the length, and also take a look to see if you can figure out how it might be possible to save a homonym with an undefined lexemes object. Thanks!

```    if (homonym.lexemes.length > 0 && homonym.lexemes.filter(l => l.isPopulated()).le

[2019-07-29 20:21] balmas commented on #694
what you should see:

On the desktop: when you double-click on a word from the wordlist, the popup opens and then you see the progress bar on the popup while the word data is loading

On mobile: when you tab a word on the wordlist, the panel opens and you see the progress bar on the morphology pane while the word is loading

It seems to be working okay for me.

[2019-07-29 20:21] balmas commented on #694
@monzug let me know if it makes sense. thanks!

[2019-07-29 20:22] monzug commented on #634
I am not sure if this is a side effect of the above change but in FF I cannot move the morphology pop-up (and the flex nav) anymore. Note that Chrome works fine. see screenshot (I cannot reach the bottom of the pop-up)
![cannot-move-the-popup](https://user-images.githubusercontent.com/41396793/62079271-6253d380-b21c-11e9-99e9-499906977257.JPG)

[2019-07-29 20:35] monzug opened #706 "when we delete all items from wordlist"
is it ok to display an empty panel and that the icon is still selectable? or should we go back to the state of icon grayed out and no panel generated if empty?

[2019-07-29 20:46] monzug commented on #694
I thought you wanted an extra progress bar.... ok, then.  in the above scenario (only in FF), it takes longer to generate the morphology pop-up and I am there waiting for it. I don't see the pop-up with the indicator. when it does open the morphology pop-up, it's all super fast and no indicator there. what I should expect: the morphology pop-up with indicator generated immediately.
in Chrome and o

[2019-07-29 21:25] monzug commented on #680
we have double click on wordlist now

[2019-07-29 21:32] monzug commented on #662
we still have the Clear limits icon when limit to by exact word and by lemma. tested in chrome and ff in 3.0.0.48 and on mobile

[2019-07-29 21:40] irina060981 commented on #694
@monzug and @balmas , I saw that delay and spent some time to investigate it.
I think that this delay is from communicating between application and Vuex, and it is longer in Firefox and on my old Samsung.
We have a rather long way to pass data to a popup (or mobile panel tab):
and some steps are catches mutable properties by vue-components,
Sometimes it is quick - on Iphone dor example for me, som

[2019-07-29 21:44] irina060981 commented on #662
yes, I have save it here there, because
   - it has another UI workflow (we could not choose anything to imitate clearing limits)
   - we are not checking changing the field (exact word and lemma), because it should have only values form the wordlist (there was a task about that). So I could add an event only on blur or again return an event to change.

@balmas , should I change it somehow?

[2019-07-29 22:10] balmas opened #707 "Refactor message files"
_Originally posted by @balmas in https://github.com/alpheios-project/components/pull/705#issuecomment-516181647_

[2019-07-29 22:13] balmas commented on #662
@irina060981 maybe the "Clear limits" from the primary selection box can just clear everything? I am not sure it's necessary to have the 2nd level of clear there.

[2019-07-29 22:17] balmas commented on #694
hmm. I'll enter another issue for this for the firefox performance issue. I think it will probably have to wait until after the release but I don't want to lose track of. Sound okay @monzug ?

[2019-07-29 22:18] balmas opened #708 "longer delay for popup in Firefox"
I thought you wanted an extra progress bar.... ok, then.  when clicking on a word from the wordlist in FF, it takes longer to generate the morphology pop-up and I am there waiting for it. I don't see the pop-up with the indicator. when it does open the morphology pop-up, it's all super fast and no indicator there. what I should expect: the morphology pop-up with indicator generated immediately.
in

[2019-07-29 22:29] balmas commented on #633
qa-3.0.0.49/components 1.2.12

[2019-07-29 22:29] balmas commented on #695
qa-3.0.0.49/components 1.2.12

[2019-07-29 22:29] balmas commented on #422
qa-3.0.0.49/components 1.2.12

[2019-07-29 22:30] balmas commented on #681
qa-3.0.0.49/components 1.2.12

[2019-07-29 22:30] balmas commented on #573
qa-3.0.0.49/components 1.2.12

[2019-07-29 22:32] balmas commented on #502
qa-3.0.0.49/components 1.2.12

[2019-07-29 22:34] balmas commented on #472
qa-3.0.0.49/components 1.2.12

[2019-07-29 22:34] #694 closed

[2019-07-29 22:35] balmas commented on #685
embed-lib 1.0.0.31

[2019-07-29 22:35] #685 closed

[2019-07-29 22:50] irina060981 commented on #662
I could simply remove the Clear limits from the second level input and Clear limits from the first level select will do like it is described.
But we will loose an opportunity - to reenter/reselect a lemma or a target word in one step - the user would need to guess to clear filters on the first level, reselect the ame - to filter by exact  word (for example) and retype.

If you think that it would

[2019-07-30 00:18] monzug commented on #488
verified in 3.0.0.48

[2019-07-30 00:58] monzug commented on #694
sounds good to me.

On Mon, Jul 29, 2019 at 6:34 PM Bridget Almas <notifications@github.com>
wrote:

[2019-07-30 00:59] monzug commented on #708
to repro: on the text environment, go to https://texts-test.alpheios.net/text/urn:cts:latinLit:phi0474.phi007.perseus-lat2/passage/1-5 and add word reprendis to wordlist. then double click on it.

[2019-07-30 11:53] balmas commented on #662
@monzug what do you think?

[2019-07-30 12:26] balmas commented on #634
hmm. in build qa-3.0.0.49 I can move the popup in FF but not the overlay toolbar. @monzug do you see the same?

[2019-07-30 12:41] irina060981 commented on #659
Merged and closed

[2019-07-30 12:41] #659 closed

[2019-07-30 13:06] monzug commented on #634
build 3.0.0.49 in FF
I can't move pop-up (after first move) and flex nav in
https://latin.packhum.org/loc/22/1/17/8497-8502#17
https://la.wikipedia.org/wiki/Vicipaedia:Pagina_prima
http://www.thelatinlibrary.com/quintilian/quintilian.decl.mai9.shtml

[2019-07-30 13:11] balmas commented on #679
@monzug can you look at this again in qa-3.0.0.49 and the latest code at texts-test? I cannot reproduce either problem.  Thanks.

[2019-07-30 13:11] #679 closed

[2019-07-30 13:15] balmas commented on #634
ok, assigning to @kirlat . Thanks.

[2019-07-30 13:15] balmas commented on #634
actually, I think it's better as a new issue. Not sure it's related to this fix at all.

[2019-07-30 13:15] balmas opened #712 "unable to move popup and toolbar in FF"
build 3.0.0.49 in FF
I can't move pop-up (after first move) and flex nav (from the start) in
https://latin.packhum.org/loc/22/1/17/8497-8502#17
https://la.wikipedia.org/wiki/Vicipaedia:Pagina_prima
http://www.thelatinlibrary.com/quintilian/quintilian.decl.mai9.shtml

_Originally posted by @monzug in https://github.com/alpheios-project/components/issues/634#issuecomment-516410330_

[2019-07-30 13:16] balmas commented on #634
@monzug the new issue is #712. Can we close this one?

[2019-07-30 13:17] balmas commented on #712
I think the popup problem is the same as #563 . The toolbar problem seems to be new.

[2019-07-30 13:21] monzug commented on #662
I agree with Irina. we missed the option to change lemma or exact word without switching from one limit to an other. on the other hand, it would be a more elegant solution and we get rid of the second limit icon

[2019-07-30 13:22] irina060981 commented on #706
Merged and closed

[2019-07-30 13:23] balmas commented on #615
this is fixed in qa-3.0.0.49/components 1.2.12

[2019-07-30 13:25] balmas commented on #615
hmm. actually seems not to be in there. Need to check what happened.

[2019-07-30 13:30] balmas commented on #663
@irina060981 here's a request for a hint :-)

I'm not sure how this should look. Maybe format the text using the important notification style, and put it at the top of the tab when in portrait mode on mobile? Probably should add it to inflections too.

[2019-07-30 13:33] monzug commented on #679
yes! all good on desktop (FF and Chrome) and on mobile (safari), in chrome (on iPhone xr) I cannot get to the log in panel as the icon is grayed out and the tools do not really work much (again, iPhone xr). do you want me to report issues on chrome/iPhone xr?

[2019-07-30 13:38] monzug commented on #685
this works on Safari/iPhone xr

[2019-07-30 13:41] balmas commented on #679
@monzug Did you clear your browser history on chrome?

[2019-07-30 13:47] irina060981 commented on #323
Merged and closed

[2019-07-30 13:48] monzug commented on #679
now I did and it shows up! thanks
however I still have issues on chrome/iPhone xr

On Tue, Jul 30, 2019 at 9:41 AM Bridget Almas <notifications@github.com>
wrote:

[2019-07-30 13:59] balmas commented on #633
oops, did the wrong order

[2019-07-30 14:18] monzug commented on #662
yes

[2019-07-30 14:32] balmas commented on #662
ok, @irina060981 please go ahead with the change. thanks!

[2019-07-30 16:08] #615 closed

[2019-07-30 18:33] balmas commented on #561
it does not seem possible to do this.  Auth0 allows you to specify a pre-supplied address for the login form (via the login_hint option), but that is not what we want here, because then the user has to type over it.  We want the ability to change the placeholder text, but it isn't offered.

[2019-07-30 18:33] #561 closed

[2019-07-30 18:46] balmas commented on #600
this is done. It adds the following headers:

X-Frame-Options: deny
Content-Security-Policy: frame-ancestors 'none'

To test, I think just verify that login still works from the various platforms and devices

[2019-07-30 18:46] #600 closed

[2019-07-30 18:49] balmas commented on #555
I can't reproduce this anymore.  @monzug the interface has changed so much since it was reported, can you verify whether or not it is still a problem (once you get back home with your mac)? Thanks!

[2019-07-30 18:49] #555 closed

[2019-07-30 19:11] monzug commented on #555
I will

On Tue, Jul 30, 2019 at 2:49 PM Bridget Almas <notifications@github.com>
wrote:

[2019-07-30 19:25] monzug commented on #600
tested in Chrome and FF on desktop - Safari on iPhone xr

[2019-07-30 20:25] monzug commented on #634
yes

[2019-07-30 20:25] #634 closed

[2019-07-30 20:42] balmas commented on #609
yes, let's let it go unverified.

[2019-07-30 20:48] monzug commented on #472
If I move the flex nav outside of the visible screen in all the above sites, it bounces back immediately. in Latin library, it's half way in-half way out, but still usable. the problem is in FF, the overlay (flex nav) then does not move anymore. this has been reported as a separate issue in #712

[2019-07-30 20:49] monzug commented on #712
side effect of #472 fix?

[2019-07-30 20:53] monzug commented on #609
cool

On Tue, Jul 30, 2019 at 4:42 PM Bridget Almas <notifications@github.com>
wrote:

[2019-07-31 00:55] irina060981 commented on #697
While working on this issue, I have faced with the following confusing behaviour:

1. If I select, for example, `እግዚአብሔር` and if I type to lookup field `እግዚአብሔር`
    I will recieve the following

![image](https://user-images.githubusercontent.com/12377640/62175482-4453b380-b381-11e9-9cdb-7b54f8cdda7b.png)

     To avoid it I should guess to open help tab and change language there

2. If I would ch

[2019-07-31 00:56] irina060981 commented on #697
@balmas , I have a question here how could I define the language for lookup (to define rtl) - using select from help tab?

[2019-07-31 07:11] irina060981 commented on #663
@balmas, I wonder, what exactly we want to tell to the user on the hint?
If a user simply rotates a device - it will look nlike this:

![image](https://user-images.githubusercontent.com/12377640/62191064-1dfc3b00-b3b6-11e9-8fb5-8b67b6f61e8f.png)

A user should also expand the panel?
What do you think?

[2019-07-31 11:55] balmas commented on #697
I'm struggling with a few problems related to the lookup box. #703 is another one, different from this, but also caused by lack of visibility of what language the lookup box uses.

For the most part, I would guess these are edge cases, since people aren't likely to be switching languages frequently, but it needs some thought.  No answers yet...

[2019-07-31 11:57] irina060981 commented on #697
@balmas , may be then I will create a PR for wordlist without a lookup?
and then we could think about lookup or may be even wait for feedback?

[2019-07-31 12:01] balmas commented on #663
yes, you're right.  How about this text, as a closeable notification?

"🛈 This view is best in landscape mode with the panel expanded to full screen"

[2019-07-31 12:02] balmas commented on #697
I'm not sure what you mean about wordlist without lookup? Are you talking about the lookup box on the toolbar?

[2019-07-31 12:10] irina060981 commented on #697
yes - I am tooking about lookup bar in toolbar and on help tab.
For now I have done rtl for Wordlist tab:
![image](https://user-images.githubusercontent.com/12377640/62210677-0f2a7e00-b3e0-11e9-8b30-99fce78378cf.png)

[2019-07-31 12:11] irina060981 commented on #697
Could I create a PR?

[2019-07-31 12:11] balmas commented on #697
ah, ok, I understand now. Yes, please do a PR for this. thank you!

[2019-07-31 12:14] balmas commented on #679
ok, please enter a separate issue for those.

[2019-07-31 12:14] irina060981 commented on #663
I like it :) Will continue to work here

[2019-07-31 12:15] irina060981 commented on #662
Merged and closed

[2019-07-31 12:15] #662 closed

[2019-07-31 12:37] irina060981 commented on #697
I have merged PR - may be I should move problems with lookup to a separate issue and close this one, @balmas ?

[2019-07-31 12:39] balmas commented on #697
Can you actually add them to #703?  I have renamed that item to reflect the scope better. Thanks.

[2019-07-31 12:41] irina060981 commented on #703
While working on this issue, I have faced with the following confusing behaviour:

1. If I select, for example, `እግዚአብሔር` and if I type to lookup field `እግዚአብሔር`
    I will recieve the following

![image](https://user-images.githubusercontent.com/12377640/62175482-4453b380-b381-11e9-9cdb-7b54f8cdda7b.png)

To avoid it I should guess to open help tab and change language there

2. If I would change

[2019-07-31 12:42] irina060981 commented on #697
Done - and I will close this one

[2019-07-31 14:52] monzug commented on #681
I did play with wordlist a bit and could repro the problem. Fixed!!!! thanks

[2019-07-31 14:59] monzug commented on #573
scrollable!!!!!! yeahhhh

[2019-07-31 16:34] balmas commented on #697
this change is for the input box on the wordlist only.  Dealing with the lookup box is a bigger project.

qa-3.0.0.50/components 1.2.15

[2019-07-31 16:35] balmas commented on #662
qa-3.0.0.50/components 1.2.15

[2019-07-31 16:35] balmas commented on #615
qa-3.0.0.50/components 1.2.15

[2019-07-31 16:36] balmas commented on #323
qa-3.0.0.50/components 1.2.15

[2019-07-31 16:36] balmas commented on #706
qa-3.0.0.50/components 1.2.15

[2019-07-31 16:37] balmas commented on #659
qa-3.0.0.50/components 1.2.15

[2019-07-31 16:43] balmas commented on #633
qa-3.0.0.50/components 1.2.15

[2019-07-31 19:27] balmas commented on #712
Debugging notes:

I think the problem might be related to the interact.js library's use of window.requestAnimationFrame and window.cancelAnmiationFrame .  When i tried calling unset on the interactInstance in the browser console, I got this error message which I think maybe is happening on dragging too but isn't bubbling up to the console when the interact methods are called through our code:

[co

[2019-07-31 19:37] monzug commented on #422
ok. let's start with FF. I did try to download the wordlist from web extension and text env, both as a logged in user or before login. no action when clicking on the download icon.
in Chrome, it worked (logged, not logged in) both in text env and in web ext. in notepad it's just a long string of data. in excel, we have all the data.
on safari (iPhone xr) the file is displayed on screen with the op

[2019-07-31 19:45] monzug commented on #422
@balmas, two issues here:
1) in FF it does not work in my environment
2) in safari (iPhone xr), not sure how to save the file succesfully

[2019-07-31 19:51] balmas commented on #712
confirmed that that is actually the error being thrown by the interact library when it executes the dragEndListener (the call is from the interact.stop() method which is called when the end listener function is done executing)

[2019-07-31 20:01] monzug commented on #633
verified

[2019-07-31 20:08] monzug commented on #706
now the wordlist icon is grayed out and not selectable. However when I empty the wordlist, I ended on an empty panel with the correct top nav (no wordlist icon) and with no icons highlighted. my question: is it ok to land on an empty panel or should we show a default panel (info)? I am happy with the current behavior but want your feedback @balmas

[2019-07-31 20:41] monzug commented on #633
wait, there is something funny on the lookup in both chrome and FF - see screenshot

![lookup-chrome](https://user-images.githubusercontent.com/41396793/62246615-028f3100-b3b2-11e9-96e7-73203b45b8db.JPG)

[2019-07-31 20:44] balmas commented on #633
do you mean that both the lookup icon and the tools icon are the active color? That is because both are open.  I could remove the active color from the tools icon again, but it seemed inconsistent to me.

Or do you mean something else?

[2019-07-31 20:45] monzug commented on #615
it's there now

[2019-07-31 20:46] monzug commented on #633
the lookup is smaller than the size of the flex nav. it looks weair

On Wed, Jul 31, 2019 at 4:44 PM Bridget Almas <notifications@github.com>
wrote:

[2019-07-31 20:48] monzug commented on #662
very nice, clean

[2019-07-31 20:51] balmas commented on #633
oh.... ok I can fix that. thanks!

[2019-07-31 20:53] monzug commented on #323
uhm, I am not so crazy about those letters 1) usually User interface  is UI not just U, right? maybe 1,2,3 I don't know

anyhow, it looks like I am not able to remove or add any grammars in Resource options

[2019-07-31 20:57] monzug commented on #408
will use as test case for regression

[2019-07-31 21:01] balmas commented on #712
Unfortunately I can't figure out how to get the workaround described in https://bugzilla.mozilla.org/show_bug.cgi?id=1372649 to work .

It suggests rebinding window.cancelAnimationFrame

[code]

If I do this in the content.js, the background.js  or the uiController, it has seemingly no impact on the interact.js code as initialized by the toolbar vue module.

I tried rebinding it directly in the Vu

[2019-07-31 21:16] monzug commented on #695
fixed

[2019-08-01 08:40] irina060981 commented on #422
I will check it

Yes, I could see the same - and it doesn't properly work on a simple example (I have tested and posted about it before)

[2019-08-01 10:10] irina060981 commented on #422
After some investigating:
 - to be able to download via js click inside Firfox and Safari on MAC - we need to add the link to the document html tree (done in PR)

 - download attribute for download blob is not properly supported on IOS - that's why it shows blob cotent instead of download, I haven't found the workout for that

[2019-08-01 10:19] irina060981 commented on #323
I didn't touch this - but I will check

[2019-08-01 11:21] balmas commented on #323
possibly I broke it with the regrouping, although I thought I had tested it.

[2019-08-01 11:26] balmas commented on #422
@irina060981 can we also change the separator on the file to a comma instead of a semicolon? I think it will enable it to be imported more easily into spreadsheet programs (which sometimes require you to specify the separator if it is something other than comma.  Thanks!

[2019-08-01 11:32] irina060981 commented on #422
There are some problems with comma.
We already have commas inside lemma-list.

I first used a comma for delimiter, but my excel  didn't parse it properly.
If we want to use comma - we should use it with quotation marks - "

[2019-08-01 11:41] balmas commented on #422
LibreOffice doesn't have semicolon as a default. But you're right using a comma is a little more work.

I am on the fence about this.  I think we could leave it as semicolon but we need to add some instruction to the user somewhere.  Maybe we could add a little ? help popup next to the download link which instructs the users what to do with the file, and also advises them to use a browser other th

[2019-08-01 11:42] balmas commented on #323
@irina060981 if you don't mind, I will give this back to you

[2019-08-01 11:48] balmas commented on #323
as for the letters -- what if we just use links instead of tabs?

[user interface settings](#)
[feature settings](#)
[resource settings](#)

and clicking on the link shows the corresponding options

it's a little less visually appealing maybe, but clearer

[2019-08-01 11:48] irina060981 commented on #422
It doesn't work both in Chrome and Safari on IOS for me, as I know they both has the same base on IOS.

I am not sure how to create a help popup -
for standard popup - we should create an additional component and attach it to body outside alpheios popup and panel - I think it could be not so easy task - because we doesn't have any standard mechanism to show additional popup inside extension.

May

[2019-08-01 11:51] balmas commented on #422
Yes I think that's a good idea

[2019-08-01 11:52] balmas commented on #422
Ok. I am still fine with this being a known issue in the release. We can put it in the FAQ.

[2019-08-01 11:54] balmas commented on #706
I think it's okay to land on the empty panel for now.  Going back to info could be equally confusing.

[2019-08-01 11:54] #706 closed

[2019-08-01 12:01] irina060981 commented on #422
Will add this to the current PR

[2019-08-01 12:02] irina060981 commented on #323
It would be placed as 3 rows on the tab?

[2019-08-01 12:03] balmas commented on #323
yes. do you think it's an awful idea?

[2019-08-01 12:06] irina060981 commented on #323
Advantages
     - it would be more clearer
Disadvantages
     - on mobile it will use all visible place on the tab
     - it would be a new way to navigate

So I don't think that it is really awfull, but it makes sense only for new users
For users that were applied settings once it would be redundantly (from my point of view of course :))

I think we should choose according to our future users :)

[2019-08-01 12:09] balmas commented on #323
hmm. all good points. What about using UI, Feature, Resource, where the 'eature' and 'esource' are in a smaller font?

[2019-08-01 12:10] balmas commented on #323
(I know, I should not be allowed to make UI decisions...)

[2019-08-01 12:18] irina060981 commented on #323
It would be this way

![image](https://user-images.githubusercontent.com/12377640/62292680-46656180-b4aa-11e9-87d8-0131726b5921.png)

I don't think that it is bad - is it more understandable?

[2019-08-01 12:33] irina060981 commented on #323
I think the problem is here for multiple values

[code]

It could be correct only for the single value, not for array

[2019-08-01 12:35] balmas commented on #323
Yes I Iike that!

[2019-08-01 12:37] balmas commented on #323
hmm. that code hasn't changed, I don't think.

[2019-08-01 12:37] irina060981 commented on #323
also this doesn't work

[code]

returns `lexicons` instead of `alpheios-resource-options__2__lexicons__grc`
so - it couldn't be updated

[2019-08-01 12:38] irina060981 commented on #323
I didn't test it for a long time :)

And I think we don't have unit tests for these aspects

[2019-08-01 12:39] balmas commented on #323
@irina060981 I'll take a look at that. The use of parseKey here is necessary because of the way we reference the settings in the options object but it could be that I am misunderstanding something.

[2019-08-01 12:41] irina060981 commented on #323
ok - then I will stop to work on it for now - waiting for the results of your investigation :)

[2019-08-01 13:14] balmas commented on #323
wish me luck :-) But please go ahead and do a PR for the change to the tabs. Thanks!

[2019-08-01 14:49] balmas commented on #712
After further debugging, it looks like our use of Webpack is complicating this.  The interact code which assigns a variable to window.cancelAnimationFrame (https://github.com/taye/interact.js/blob/44eb6166aedb4d051f0d552dbd303c41c4d6522d/packages/utils/raf.ts#L7) is executed in a Webpack prelude call before we ever actually activate interact on the toolbar element.

I think in order for the workar

[2019-08-01 15:54] balmas opened #719 "resource setting multi-value broken"
possibly I broke it with the regrouping, although I thought I had tested it.

_Originally posted by @balmas in https://github.com/alpheios-project/components/issues/323#issuecomment-517241388_

[2019-08-01 15:55] balmas commented on #323
I have broken the problem with the resource settings off into #719 because it's not caused by the UI changes. Keeping this item open for responding to the changes to the tabs

[2019-08-01 17:39] balmas commented on #563
dupe of #712
(this is the original item, but debugging info is in the later one).

[2019-08-01 17:39] #563 closed

[2019-08-01 17:41] balmas commented on #472
@monzug are the only remaining issues with this the problems on FF reported in #712?

[2019-08-01 18:57] monzug commented on #472
yes. I'll close this

[2019-08-01 18:57] #472 closed

[2019-08-02 12:20] #719 closed

[2019-08-02 16:31] balmas commented on #703
Ok, instigated by the issues reported here, some additional problems listed below, the desire for consistency across the mobile and desktop UI, and prior discussions with @abrasax I have decided to make some changes to the the lookup functionality for the release.

In addition to the problems noted above, in debugging this I found the following:

- the UI between desktop and mobile was inconsisten

[2019-08-02 17:39] balmas commented on #719
qa-3.0.0.51/components 1.2.17

[2019-08-02 17:39] balmas commented on #323
qa-3.0.0.51/components 1.2.17

[2019-08-02 17:40] balmas commented on #633
qa-3.0.0.51/components 1.2.17/embed-lib 1.0.0.34

[2019-08-02 17:40] #633 closed

[2019-08-02 17:41] balmas commented on #422
qa-3.0.0.51/components 1.2.17

[2019-08-02 17:42] balmas commented on #703
qa-3.0.0.51/components 1.2.17/embed-lib 1.0.0.34

[2019-08-04 16:03] monzug commented on #719
this works now. Thanks

[2019-08-04 17:33] monzug commented on #703
Maybe I was used to the previous functionality that I could not see all the issues listed above. Sorry about it. However I found few things that don't work right now.
1) I always keep the lookup open so it's not obvious that in order to change language I have to close the lookup (after the initial change of language), as said:
"(rather than using a "Hide" link, I just have it reset when the user c

[2019-08-05 11:45] irina060981 commented on #703
@monzug , I have other results of checking this changes:

1. I tried to lookup different words through toolbar - after each lookup (by clicking the button and by Enter) it always returnd to this state - so there was no problem to rechoose the language
![image](https://user-images.githubusercontent.com/12377640/62462048-bd139f00-b7c9-11e9-8b8e-47c2a0b0318c.png)

2. >when I change language in lookup

[2019-08-05 11:48] balmas commented on #703
"(rather than using a "Hide" link, I just have it reset when the user closes the lookup box)"

It should not be the case that you have to close the lookup to effect the language change. I just meant that in order to remove the change language selection box from the lookup popup you need to close it.

[2019-08-05 13:06] monzug commented on #703
so, issue 1) is a gladly non-issue. how about 2) and 3)? I tested in Alpheios Reading Tools 3.0.0.51
Alpheios Components 1.2.17 in both Chrome and FF on desktop.
 I am going to test on mobile now

[2019-08-05 13:18] monzug commented on #703
the mobile works smoothly as described from @balmas. could it be that I do not have the most update version on desktop?

[2019-08-05 13:21] balmas commented on #703
I was able to reproduce at least one problem with changing the language from the lookup tool in the browser extension. Am investigating that now.

[2019-08-05 13:22] monzug commented on #703
Thanks!!! I hold testing on this for now.

[2019-08-05 13:28] irina060981 commented on #598
I was not able to reproduce the problem.
Added the check for emptu homonym and homonym.lexemes

Merged and closed